@import '../date-picker/date-picker';
@import '../drop-down/drop-down';
@import '../button/button';

.card-room {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 40px 30px 30px;
  width: 380px;
  height: min-content;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  color: $text-color-main;
  background-color: white;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__detail {
    @include font-bold($font-size-normal, $lh: inherit);

    display: inline-flex;
    align-items: flex-end;

    &-number {
      @include font-bold;

      margin-right: 1px;
    }

    &-category {
      line-height: 24px;
      color: $purple;
    }
  }

  &__price {
    @include font-normal($font-size-small, $text-color-translucent, 23px);

    display: flex;
    align-self: flex-end;
    text-align: right;

    &-number {
      @include font-bold($font-size-normal, $text-color-translucent);

      margin-right: 3px;
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 15px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    vertical-align: middle;
    margin-top: 21px;
    gap: 15px;

    &-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      :nth-child(1) {
        position: relative;
      }

      @include media-xxs {
        flex-direction: column;
      }
    }

    &-name {
      width: 214px;
      line-height: 18px;
    }

    &-sum {
      line-height: 18px;
      white-space: nowrap;
      text-align: end;
    }
  }

  &__result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    font-weight: bold;
    font-size: $font-size-medium;
    line-height: 23px;

    &-name {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      width: 100%;

      &::after {
        content: '';
        position: relative;
        z-index: 20;
        display: block;
        border-bottom: 1px dashed $transparent_black;
        width: 100%;
        height: 2px;
        box-sizing: border-box;
      }
    }
  }

  &__total-price {
    white-space: nowrap;
  }

  &__icon {
    @include font-bold($font-size-normal, $lh: 14px);

    position: absolute;
    right: -25px;
    top: 0;
    width: 20px;
    height: 20px;
    background-image: url('~@/components/card-room/image/icon.svg');
    cursor: pointer;

    &:hover::after {
      @include font-normal(11px, white);

      content: attr(data-text);
      position: absolute;
      left: 10px;
      right: 0;
      top: 50%;
      z-index: 1;
      border-radius: 10px;
      padding: 5px 10px;
      width: 100px;
      background-position: center;
      background-size: 20px;
      background-color: $text-color-main;
    }

    @include media-xxs {
      right: 0;
    }
  }

  @include media-xxs {
    padding: 30px 15px;
    width: 100%;
    max-width: 355px;
  }
}