include ../field/field
include ../footer-nav/footer-nav

mixin footerHead({ menu, logo })
  .footer-head
    .footer-head__info
      .footer-head__logo
        img.footer-head__logo-img(src = logo, alt = "logo")
      .footer-head__text
        | Бронирование номеров в лучшем отеле 2019 года по версии ассоциации
        | «Отельные взгляды»
    .footer-head__nav
      each nav in menu
        +footerNav(nav)
    .footer-head__subscribe
      .footer-head__subscribe-title Подписка
      .footer-head__subscribe-text
        | Получайте специальные предложения и новости сервиса
      .footer-head__field
        +field({
          name: "email",
          placeholder: "Email",
          form: true,
        })
