@import "~@/styles/mixin.scss";
@import '~@/styles/variables.scss';

.room-detail {

  &__photo {
    width: 100%;
    display: block;
    object-fit: contain;

    @include media-sm {
      height: 100%;
    }

    @include media-xs {
      object-fit: cover;
    }
  }

  &__gallery {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);

    @include media-xs {
      display: flex;
      flex-direction: column;
    }
  }

  &__left {
    display: flex;
    flex-grow: 1;
    grid-column: 1 / 6;
    grid-row: 1 / 3;

    .room-detail__photo {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;

      @include media-xs {
        object-fit: contain;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    grid-column: 6 / 9;
    grid-row: 1 / 3;
  }

  &__subordinate {
    margin-top: 34px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include media-md {
      margin-bottom: 30px;
    }

    @include media-sm {
      flex-direction: column;
      gap: 35px;
    }

    .detail__block {
      margin-right: 10px;

      &-text {
        margin-top: 20px;
      }
    }
  }

  &__container {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 70px;
    @include media-lg {
      padding-left: 30px;
      padding-right: 30px;
      flex-direction: column;
      align-items: center;
    }


    @include media-xs {
      padding: 30px 15px;
      max-width: 320px;
    }

    @include media-xxs {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__info {
    @include media-xxs {
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
    }
  }

  &__view {
    display: flex;
    flex-direction: row;
    margin-bottom: 13px;

    @include media-sm {
      flex-direction: column;
      align-items: center;
    }

    @include media-xs {
      align-items: flex-start;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    width: 340px;

    @include media-xxs {
      width: 100%;
    }

    &-title {
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: $font-size-medium;
      line-height: 23px;
      margin: 0;
      text-transform: none;
      color: rgba(31, 32, 65, 1);

      &_ul {
        margin-left: 20px;
      }
    }

    &-text {
      font-size: $font-size-normal;
      line-height: 24px;
      color: rgba(31, 32, 65, 0.75);
    }

  }

  &__review {
    margin-top: 22px;
  }
}
