extends ../../layouts/landing-page/landing-page
include ../../components/icon/icon
include ../../components/review/review
include ../../components/bullet-list/bullet-list
include ../../components/diagram/diagram
include ../../components/card-room/card-room

block variables
  - const title = 'Landing'

block content
  -
    const { iconText, diagram, review,
            bulletList, cardRoom } = require('./room-detail.json');
    const { client_1, client_2 } = review
    const roomPhoto1 = require('./img/gallery-left.jpg').default
    const roomPhoto2 = require('./img/gallery-right-1.jpg').default
    const roomPhoto3 = require('./img/gallery-right-2.jpg').default
  .room-detail
    .room-detail__gallery
      .room-detail__left
        img.room-detail__photo(src=roomPhoto1, alt="room-photo-1")
      .room-detail__right
        img.room-detail__photo(src=roomPhoto2, alt="room-photo-2")
        img.room-detail__photo(src=roomPhoto3, alt="room-photo-3")
    .room-detail__container
      .room-detail__info
        .room-detail__view
          .room-detail__section
            h3.room-detail__title Сведения о номере
            +iconText(iconText)
          .room-detail__diagramm
            +diagram(diagram)
        .room-detail__section
          h3.room-detail__title Отзывы посетителей номера
        .room-detail__review
          +review(client_1)
        .room-detail__review
          +review(client_2)
        .room-detail__subordinate
          .room-detail__specification
            .room-detail__title.room-detail__title_for_list Правила
            .room-detail__text
              +bulletList(bulletList)
          .room-detail__specification
            .room-detail__title Отмена
            .room-detail__text
              | Бесплатная отмена в течение 48 ч. После этого при отмене не
              | позднее чем за 5 дн. до прибытия вы получите полный возврат за
              | вычетом сбора за услуги.
      +cardRoom(cardRoom)
