extends ../../layouts/landing-page/landing-page
include ../../components/icon-text/icon-text
include ../../components/review/review
include ../../components/bullet-list/bullet-list
include ../../components/diagram/diagram
include ../../components/card-room/card-room

block variables
  - const title = "Landing"

block content
  -
    const { iconText, diagram, review,
            bulletList, cardRoom } = require("./room-detail.json");
    const { client_1, client_2 } = review
  .gallery
    .gallery__left
      .gallery__item-1
        img.gallery__item-img(src="img/slider4.jpg", alt="alt")
    .gallery__rigth
      .gallery__item-2
        img.gallery__item-img(src="img/slider2.jpg", alt="alt")
      .gallery__item-3
        img.gallery__item-img(src="img/slider3.jpg", alt="alt")
  .detail
    .detail__info
      .detail__view
        .detail__block
          h3.detail__block-title Сведения о номере
          +iconText(iconText)
        +diagram(diagram)
      .detail__block
        h3.detail__block-title Отзывы посетителей номера
      +review(client_1)
      +review(client_2)
      .detail__subordinate
        .detail__block
          .detail__block-title Правила
          .detail__block-text
            +bulletList(bulletList)
        .detail__block
          .detail__block-title Отмена
          .detail__block-text
            | Бесплатная отмена в течение 48 ч. После этого при отмене не
            | позднее чем за 5 дн. до прибытия вы получите полный возврат за
            | вычетом сбора за услуги.
    +cardRoom(cardRoom)
