@import '~@/styles/mixin';
@import '~@/layouts/landing-page/landing-page';
@import '~@/components/icon-text/icon-text';
@import '~@/components/review/review';
@import '~@/components/bullet-list/bullet-list';
@import '~@/components/diagram/diagram';
@import '~@/components/card-room/card-room';

.room-detail {
  &__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0;

    @include media-sm {
      display: flex;
      flex-direction: column;
    }
  }

  &__photo {
    display: block;
    width: 100%;
    object-fit: cover;

    @include media-sm {
      height: 100%;
    }
  }

  &__left {
    display: flex;
    flex-grow: 1;
    grid-column: 1 /3;
    grid-row: 1 / 3;
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  &__diagramm {
    margin-left: 10px;
  }

  &__subordinate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 32px;

    @include media-md {
      margin-bottom: 30px;
    }

    @include media-sm {
      flex-direction: column;
      gap: 35px;
    }
  }

  &__specification {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    width: 340px;

    @include media-xxs {
      width: 100%;
    }
  }

  &__title {
    @include font-bold($font-size-medium, $text-color-main, 23px);

    margin: 0;

    &_for_list {
      margin-left: 20px;
    }
  }

  &__text {
    margin-top: 20px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto;
    padding: 70px 140px;
    max-width: 1920px;

    @include media-xxx {
      padding: 70px 0 70px 70px;
    }

    @include media-lg {
      flex-direction: column;
      align-items: center;
      padding-right: 30px;
      padding-left: 30px;
    }

    @include media-xs {
      padding: 30px 15px;
    }

    @include media-xxs {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__info {
    @include media-xxs {
      padding-right: 15px;
      padding-left: 15px;
      width: 100%;
    }
  }

  &__view {
    display: flex;
    flex-direction: row;
    margin-bottom: 13px;

    @include media-sm {
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }

    @include media-xs {
      align-items: flex-start;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    width: 340px;

    @include media-xxs {
      width: 100%;
    }

    &_in-row {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }

  &__review {
    margin-top: 22px;
  }

  &__count-review {
    @include font-normal($font-size-normal, $text-color-translucent, 14px);

    white-space: nowrap;
  }

  &__card-room {
    position: sticky;
    top: 70px;
  }
}
