.button,
.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: auto;
  margin: 0;
  background: $purple-gradient;
  transition: opacity .3s ease-in-out;
  outline: none;
  border: none;
  border-radius: 22px;
  height: 44px;
  padding: 14px 19px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  white-space: nowrap;

  &_small {

    &:hover,
    &:focus {
      opacity: .5;
    }
  }


  &_outline {
    padding: 10px 17px;
    box-sizing: border-box;
    background-color: #ffffff;
    color: $purple;
    border: 2px solid transparent;
    opacity: 1;
    position: relative;
    vertical-align: middle;
    background-clip: padding-box;
    background-image: none;


    &::before {
      content: '';
      position: absolute;
      top: 0;
      background-image: $purple-gradient;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 22px;
      margin: -2px;
      z-index: -1;
      transition: opacity .3s ease-in-out;
    }

    &:hover {
      &::before {
        opacity: .5;
      }
    }
  }

  &_long {
    width: 320px;
    background: $purple-gradient;
    position: relative;

    @include ss {
      width: 100%;
    }

    &:hover,
    &:focus {
      opacity: .5;
    }

    &:hover {
      .material-icons {
        right: 16px;
      }
    }

    .material-icons {
      position: absolute;
      right: 10px;
      top: 50%;
      color: white;
      transform: translateY(-50%);
      transition: right .3s ease-in-out;
    }
  }

  &_border-none {
    border: none;

    &::before {
      content: none;
    }

    &:hover {
      color: $dark-3;
    }
  }
}