button {
  outline: none;
  border: none;
  border-radius: 22px;
  height: 44px;
  padding: 14px 19px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 1rem;
  cursor: pointer;
  white-space: nowrap;
}

.button {
  background: $purple-gradient;
  transition: opacity .3s ease-in-out;

  &:hover,
  &:focus {
    opacity: .5;
  }

  &_secondary {
    padding: 10px 17px;
    box-sizing: border-box;
    background-color: #ffffff;
    color: $purple;
    border: 2px solid transparent;
    opacity: 1;
    position: relative;
    vertical-align: middle;
    background-clip: padding-box; 

    &:hover {
      &::before{
        opacity: .5;
      }
    }

    &::before {
      content: '';
      position: absolute;
      background-image: $purple-gradient;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      border-radius: 22px;
      margin: -2px;
      z-index: -1;
      transition: opacity .3s ease-in-out;
    }
  }

  &_long {
    width: 320px;
    background: $purple-gradient;
    position: relative;

    &:hover {
      i {
        right: 14px;
      }
    }

    i {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      transition: right .3s ease-in-out;
    }
  }


  &_like {
    padding: 0;
    width: 40px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid $dark-4;
    color: $dark-4;
    background-color: #ffffff;
    margin: 0;
    font-size: 10px;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition:  .3s ease-in-out;
    transition-property: border color;
    i {
      font-family: Material Icons;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      margin-left: 4px;
      line-height: 8px;
      display: flex;
      align-items: center;
      text-align: center;
      vertical-align: middle;
    }

    span {
      vertical-align: middle;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 9px;
      text-align: center;
      margin: 0;
      padding: 0;
      min-width: 20px;
    }
  }

  &_like-active {
    border: 1px solid transparent;
    color: $purple;
    position: relative;
    background-clip: padding-box; 
    &::before{
      content: '';
      border-radius: 15px;
      background-image: $purple-gradient;
      position: absolute;
      top: 0px;
      bottom: 0px;
      right: 0px;
      left: 0px;
      margin: -1px;
      z-index: -2;
    }
  }
}


.rate{
position: relative;
display: flex;

&__star{
  appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 20;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;

}
label{
  position: relative;
  overflow: hidden;

  .star{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 40%;
  }

  .star_border{

  }
  i {
    display: block;
    position: relative;
    overflow: hidden;
    background-image: $purple-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
}

}


