button {
  outline: none;
  border: none;
  border-radius: 22px;
  height: 44px;
  // height: auto;
  padding: 14px 19px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
}

.button {
  background: $purple-gradient;
  transition: opacity .3s ease-in-out;

  &:hover,
  &:focus {
    opacity: .5;
  }

  &_secondary {
    padding: 10px 17px;
    box-sizing: border-box;
    background-color: #ffffff;
    color: $purple;
    border: 2px solid transparent;
    opacity: 1;
    position: relative;
    vertical-align: middle;
    background-clip: padding-box;
    &:hover {
      &::before{
        opacity: .5;
      }
    }

    &::before {
      content: '';
      position: absolute;
      background-image: $purple-gradient;
      top: 0px;
      background: $purple-gradient;
      left: 0px;
      right: 0px;
      bottom: 0px;
      border-radius: 22px;
      margin: -2px;
      z-index: -1;
      transition: opacity .3s ease-in-out;
    }
  }

  &_long {
    width: 320px;
    background: $purple-gradient;
    position: relative;

    &:hover {
      i {
        right: 14px;
      }
    }

    i {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      transition: right .3s ease-in-out;
    }
  }


}




