mixin button( num , text)
  if num == 1
    button.button= text
  else if num == 2
     button.button_secondary= text
  else if num == 3
     button.button_long= text
      i.material-icons arrow_forward

