.pagination {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;

  @include font-normal();

  &__items {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    @include font-normal($font-size-small , $text-color-translucent  , 40px);
  }

  &__link {
    color: inherit;
    text-decoration: none;
  }

  &__item {
    text-decoration: none;
    line-height: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;

    &_current {
      background-image: $purple-gradient;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      align-self: center;

      @include font-bold($font-size-small , white , 40px);
    }

  }

  &__next {
    line-height: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    background-image: $green-gradient;
    border-radius: 50%;
    cursor: pointer;
  }

  &__icon{
    text-align: center;
    vertical-align: middle;

    @include font-icon($font-size-big, white);
  }
  &__prev {
    line-height: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    background-image: $green-gradient;
    border-radius: 50%;
    cursor: pointer;

    .pagination__icon {
      text-align: center;
      color: white;
      font-size: $font-size-big;
      transform: rotateZ(180deg);
    }
  }

  &__text {
    margin-top: 10px;
    margin-left: 5px;
    text-transform: none;

    @include font-normal($font-size-normal , $text-color-secondary )
  }
}
