@import '~@/styles/mixin';
@import '~@/styles/variables';

.pagination {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;

  &__items {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;

    @include font-normal($font-size-small, $text-color-translucent, 40px);
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }

  &__item {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    &_current {
      align-self: center;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background-image: $purple-gradient;

      @include font-bold($font-size-small, white, 40px);
    }
  }

  &__icon {
    vertical-align: middle;
    text-align: center;

    @include font-icon($font-size-big, white);
  }

  &__prev {
    .pagination__icon {
      text-align: center;
      transform: rotateZ(180deg);
    }
  }

  &__text {
    margin-top: 11px;
    margin-left: 5px;
    text-transform: none;

    @include font-normal($font-size-normal, $text-color-secondary);
  }

  &__next,
  &__prev {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-image: $green-gradient;
    cursor: pointer;
  }

  @include font-normal;
}
