//- prev       -- Boolean true = add elem pagination__prev
//- next       -- Boolean true = add elem pagination__next
//- pagination -- Array<object> = {number , link, current}
mixin pagination({prev=false, pagination, next=false , text})
  .pagination
    ul.pagination__items
      if prev === true
        li.pagination__prev
          .pagination__icon arrow_forward
      each key in pagination
        -
          let { current = false, number, href } = key
        if current
          li.pagination__item.pagination__item_current
            a.pagination__link(href=href || "./index.html")= number
        else
          li.pagination__item
            a.pagination__link(href=href || "./index.html")= number
      if next === true
        li.pagination__next
          .pagination__icon arrow_forward
    .pagination__text=text
