.pagination {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;

  &__items {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    list-style: none;
    color: $text-color-translucent;
    font-size: 12px;
    line-height: 40px;
    padding: 0;
    margin: 0;
  }

  &__link {
    color: inherit;
    text-decoration: none;
  }

  &__item {
    text-decoration: none;
    line-height: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;

    &_current {
      background-image: $purple-gradient;
      width: 40px;
      height: 40px;
      font-weight: bold;
      font-size: 12px;
      color: white;
      border-radius: 50%;
      align-self: center;
    }

  }

  &__next {
    line-height: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    background-image: $green-gradient;
    border-radius: 50%;
    cursor: pointer;

    .material-icons {
      text-align: center;
      vertical-align: middle;
      color: white;
      font-size: 24px;
    }
  }

  &__prev {
    line-height: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    background-image: $green-gradient;
    border-radius: 50%;
    cursor: pointer;

    .material-icons {
      text-align: center;
      vertical-align: middle;
      color: white;
      font-size: 24px;
      transform: rotateZ(180deg);
    }
  }

  &__text {
    margin-top: 10px;
    margin-left: 5px;
    text-transform: none;
    font-size: 14px;
    line-height: normal;
    color: $text-color-secondary;
  }
}
