mixin fontPick({ tag, text })
	-
		let fontClass = 'font-pick';
		let textClass = '';
		switch(tag){
			case 'h1':
				fontClass+='_size_big';
				textClass+='font-pick__text_weight_bold'
				break;
			case 'h2':
				fontClass+='_size_medium';
				textClass+='font-pick__text_weight_bold';
				break;
			case 'h3':
				fontClass+='_size_small';
				textClass+='font-pick__text_weight_bold font-pick__text_transform_uppercase'
				break;
			default:
				fontClass+='_size_normal'
				break;
		}
	.font-pick(class=fontClass)
		.font-pick__tag= tag
		.font-pick__text(class=textClass)= text
