@import '~@/styles/mixin';
@import '~@/styles/variables';

.font-pick {
  @include font-normal;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 436px;
  gap: 30px;

  &_size_big {
    @include font-bold($font-size-big, $lh: 29px);
  }

  &_size_medium {
    @include font-bold($font-size-medium, $lh: 23px);
  }

  &_size_normal {
    @include font-normal($font-size-normal, $lh: 15px);
  }

  &_size_small {
    @include font-bold($font-size-small, $lh: 15px);

    .font-pick__tag {
      font-weight: bold;
    }
  }

  &__tag {
    justify-self: flex-start;
    min-width: 37px;
    font-weight: normal;
    text-align: right;
    text-transform: capitalize;
    color: $transparent_black;
  }

  &__text {
    text-align: left;
    color: $text-color-secondary;

    &_with_bold_weight {
      font-weight: bold;
      color: $text-color-main;
    }

    &_transformed_uppercase {
      text-transform: uppercase;
    }
  }
}
