.icon__box {
  width: 291px;

  &_item {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid $dark-6;
    display: flex;
    flex-direction: row;
    gap: 10px;

    &:last-child {
      border: none;
    }

    i.material-icons {
      font-size: 48px;
      background-image: $purple-gradient;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &_text {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: $dark-2;
    display: flex;
    flex-direction: column;

    span {
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
    }
  }
}