.review {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: $text-color-secondary;
  max-width: 711px;
  margin-bottom: 20px;

  &__avatar {
    width: 48px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0px 10px 20px $shadow-color;
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &__right {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
  }

  &__last-visit {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
  }

  &__comment {
    padding-top: 10px;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
  }
}