.bullet_list {
  font-family: 'Montserrat';
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
display: flex;
flex-direction: column;
justify-content: flex-start;
width: 300px;
  ul {
    margin-top: -1px;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $dark-2;
    list-style: none;
    text-transform: none;
    padding: 0;
    li {
      position: relative;
padding-left: 21px;
margin-top: 10px;
      &::before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        left: 0;
        top: 5px;
        background-color: $dark-4;
      }
    }
  }
}