@import "~@assets/css/mixin.scss";

.main__header {
  width: 100%;
  height: 100%;
  min-height: 500px;
  background: url('~@assets/img/background.jpg') no-repeat center;
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  background-position: 0;

  &_content {
    margin: 70px 0 0 140px;
    height: 500px;
    float: left;
    display: flex;

    @include sm {
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 0px;
    }
  }
}