extends ../../layouts/landing-page
include ../../components/field/field
include ../../components/date-picker/date-picker
include ../../components/drop-down/drop-down
include ../../components/button/button
block variables
  - var title = 'Landing'

block content
  .main__header
    .main__header_content
      .card__block
        .card__title Найдём номера под ваши пожелания
        +datepicker({title1:'прибытие', title2:'выезд'})
        +dropdownSelect({
          extended: true, active: false, name: 'гости',
          current: 'Сколько гостей', text: [
            'взрослые',
            'дети', 'младенцы']
        })
        +button({style:'long', text:'подобрать номер'})