@import '~@/styles/mixin.scss';
@import '~@/layouts/main/main';
@import '~@/components/color-pick/color-pick';
@import '~@/components/font-pick/font-pick';

.color-fonts {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 60px;

  &__palette {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__fonts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
  }

  @include media-lg {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
