@import '@/assets/css/variables.scss';

.color-palette {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.df {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.fonts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 50px;

  &__block {
    display: flex;
    flex-direction: row;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    gap: 30px;
    justify-content: flex-start;
    align-items: flex-start;
    width: 436px;

    &_fs24 {
      font-size: 24px;
      line-height: 29px;

    }

    &_fs19 {
      font-size: 19px;
      line-height: 23px;
    }

    &_fs14 {
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
    }
  }




  &__tag {
    text-transform: capitalize;
    color: $color-transparent;
    justify-self: flex-start;
    text-align: right;
    min-width: 37px;
  }

  &__text {
    color: $text-color-secondary;
    text-align: left;

    &_bold {
      color: $text-color-main;
      font-weight: bold;
    }

    &_uppercase {
      text-transform: uppercase;
    }
  }
}
