@import '~@/styles/variables.scss';
@import '~@/styles/mixin.scss';

.color-fonts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 60px;

  @include media-lg {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__palette {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__fonts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
  }
}

