extends ../../layouts/main
include ../../components/color-pick/color-pick

block variables
  - var title = 'Color Fonts'

block content
  .df
    .color-palette
      +colorPick({color: '#1F2041' , name:'Dark Shade 100%' })
      +colorPick({color: '#1F2041' , name:'Dark Shade 75%' , opacity:.75})
      +colorPick({color: '#1F2041' , name:'Dark Shade 50%', opacity:.50})
      +colorPick({color: '#1F2041' , name:'Dark Shade 25%', opacity:.25})
      +colorPick({color: '#1F2041' , name:'Dark Shade 5%', opacity:.05})
      +colorPick({color: '#BC9CFF' , name:'Purple'})
      +colorPick({color: '#6FCF97' , name:'Green'})
    .fonts
      .fonts__block.fonts__block_fs24
        .fonts__tag h1
        .fonts__text.fonts__text_bold This one is the sub-section or widget title
      .fonts__block.fonts__block_fs19
        .fonts__tag h2
        .fonts__text.fonts__text_bold Next one is the item title inside widgets
      .fonts__block.fonts__block_fs14
        .fonts__tag h3
        .fonts__text.fonts__text_bold.fonts__text_uppercase This is a label or CTA text
      .fonts__block.fonts__block_fs12
        .fonts__tag body
        .fonts__text This is the body text which is used for most of the design, like paragraphs, lists, etc.
