@import '~@/styles/mixin';
@import '~@/styles/variables';

.footer-mobile {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0 auto;
  border-top: 1px solid $shadow-color;
  padding: 120px 30px;
  width: 100%;
  max-width: 768px;
  max-height: 368px;
  box-shadow: $box-shadow-bold;
  background-color: white;

  @include media-sm {
    box-shadow: none;
  }

  &__copyright {
    margin-top: 16px;
    margin-bottom: 22px;
    text-align: center;
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    width: 112px;
    gap: 22px;
  }

  &__link {
    align-self: center;
    vertical-align: middle;
  }

  &__img {
    display: block;
    margin: auto;
  }
}
