//- social  ==  Array<object>
//- social  ==  href -  https://www.google.com/
//- social  ==  src -  image url
//- social  ==  alt -  image alt
//- logo == src logo img

mixin footerMobile({social , logo = "img/logo-toxin.svg"})
  footer.footer-mobile
    .footer-mobile__info_logo
      img(src=logo, alt="logo")
    .footer-mobile__copyright Copyright © 2018 Toxin отель. Все права защищены.
    .footer-mobile__social
      each element in social
        - const {href, alt , src} = element
        a.footer-mobile__link(href=href ? href : "./index.html")
          img.footer-mobile__img(src=src, alt=alt ? alt : "social link")
