//- social  ==  Array<object>
//- social  ==  href -  https://www.google.com/
//- social  ==  src -  image url
//- social  ==  alt -  image alt
//- logo == src logo img

mixin footerMobile({ social , logo = "img/logo-toxin.svg" })
  footer.footer-mobile
    .footer-mobile__logo
      img(src = logo, alt = "logo").footer-mobile__img
    .footer-mobile__copyright Copyright © 2018 Toxin отель. Все права защищены.
    .footer-mobile__social
      each element in social
        - const { href , name , alt } = element
        case name
          when "twitter"
            a.footer-subordinate__link(href = href || "./index.html")
              include img/twitter.svg
          when "facebook"
            a.footer-subordinate__link(href = href || "./index.html")
              include img/facebook.svg
          when "instagram"
            a.footer-subordinate__link(href = href || "./index.html")
              include img/instagram.svg
