//- social  ==  Array<object>
//- social  ==  href -  https://www.google.com/
//- social  ==  src -  image url
//- social  ==  alt -  image alt
//- logo == src logo img

mixin footerMobile({social , logo = 'img/logo.png'}={})
  footer.footer-mobile
    .footer-mobile__info_logo
      img(src=logo, alt="logo")
    .footer-mobile__copyright Copyright © 2018 Toxin отель. Все права зачищены.
    .footer-mobile__social
      each element in social
        a.footer-mobile__link(href=element.href? element.href: '#')
          img.footer-mobile__img(src=element.src, alt=element.alt?element.alt:'social link')
