.footer-mobile {
  max-width: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: white;
  width: 100%;
  padding: 120px 30px ;
  box-shadow: 0 1px 0 $shadow-color;
  border-top: 1px solid $shadow-color;
  overflow: hidden;
  margin: 0 auto;

  @include media-sm {
    box-shadow: none;
  }

  &__copyright {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 22px;
  }

  &__social {
    width: 112px;
    display: flex;
    justify-content: space-between;
    gap: 22px;
    align-items: center;
    padding: 0;
  }

  &__link {
    vertical-align: middle;
    align-self: center;
  }

  &__img {
    display: block;
    margin: auto;
  }
}
