.check-box {
  max-width: 222px;
  width: 100%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;

  @include font-bold($font-size-small, $text-color-main, 15px);

  &__icon{
    transition: all .3s ease-in-out;
    padding: 0;
    margin: 0;
    top: -5px;
    right: 14px;
    width: 20px;
    height: 20px;
    position: absolute;
    transform: rotateX(0deg);
    cursor: pointer;
    z-index: -1;

    @include font-icon($font-size-big , $text-color-translucent)
  }

  &_expanded {
    position: relative;
    max-width: 266px;
    width: 100%;
    cursor: pointer;

    &_active {
      .check-box__icon {
        top: -0px;
        right: 14px;
        transform: rotateX(180deg);
      }
    }
  }

  &_rich {
    max-width: 266px;
    width: 100%;
  }

  &__element {
    &:nth-of-type(1) {
      margin-top: 17px;
    }

    min-height: 20px;
    vertical-align: middle;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  &__caption {
    padding-right: 20px;
    width: 100%;
  }

  &__label {
    position: relative;
    padding-left: 30px;
    text-transform: none;
    margin: 0;
    transition: color 0.3s ease-in-out;
    cursor: pointer;

    @include font-normal($color: $text-color-translucent, $lh: 20px);

    &::before {
      content: '';
      position: absolute;
      border: 1px solid $purple;
      border-radius: 4px;
      width: 20px;
      height: 20px;
      top: 0;
      left: 0;
    }

    &_rich {
      display: flex;
      flex-direction: column;

      @include font-bold($font-size-normal ,$text-color-secondary, 20px );
    }
  }

  &__input {
    appearance: none;
    position: absolute;

    &:checked ~ .check-box__label::before {
      background: url('~@/components/check-box-list/img/check.png') no-repeat 4px 2px;
      background-size: 10px 11px;
    }

    &:checked ~ .check-box__label {
      color: $text-color-secondary;
    }
  }

  &__span {
    margin-top: 5px;

    @include font-normal($font-size-small, $text-color-translucent, 14px);
  }
}
