@import '~@/styles/mixin';
@import '~@/styles/variables';

.check-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 222px;
  text-transform: uppercase;

  &__icon {
    position: absolute;
    right: 14px;
    top: 0;
    z-index: -1;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    transform: rotateX(180deg);
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    @include font-icon($font-size-big, $text-color-translucent, 24px);
  }

  &_expanded {
    position: relative;
    width: 100%;
    max-width: 266px;

    .check-box__caption {
      padding-right: 0;
      width: 100%;
      cursor: pointer;
    }

  }
  &_active {
    .check-box__icon {
      right: 14px;
      top: -5px;
      transform: rotateX(0deg);
    }
  }

  &_rich {
    width: 100%;
    max-width: 266px;

    .check-box__caption {
      padding-right: 0;
      width: 100%;
      cursor: auto;
    }
  }

  &__element {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
    min-height: 20px;

    &:nth-of-type(1) {
      margin-top: 17px;
    }
  }

  &__caption {
    padding-right: 20px;
    width: 100%;
  }

  &__label {
    position: relative;
    margin: 0;
    padding-left: 30px;
    text-transform: none;
    transition: color 0.3s ease-in-out;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      border: 1px solid $purple;
      border-radius: 4px;
      width: 20px;
      height: 20px;
    }

    &_rich {
      display: flex;
      flex-direction: column;

      @include font-bold($font-size-normal, $text-color-secondary, 20px);
    }

    @include font-normal($color: $text-color-translucent, $lh: 20px);
  }

  &__input {
    appearance: none;
    position: absolute;

    &:checked ~ .check-box__label::before {
      background:
        url('~@/components/check-box-list/img/check.png') no-repeat
        4px 2px;
      background-size: 10px 11px;
    }

    &:checked ~ .check-box__label {
      color: $text-color-secondary;
    }
  }

  &__span {
    margin-top: 5px;

    @include font-normal($font-size-small, $text-color-translucent, 14px);
  }

  @include font-bold($font-size-small, $text-color-main, 15px);
}
