.check-box {
  max-width: 222px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: $font-size-small;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  text-transform: uppercase;
  color: $text-color-main;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  &_expanded {
    position: relative;
    max-width: 266px;
    width: 100%;
    cursor: pointer;

    .icon {
      transition: all .3s ease-in-out;
      padding: 0;
      margin: 0;
      top: -5px;
      right: 14px;
      width: 20px;
      height: 20px;
      position: absolute;
      transform: rotateX(0deg);
      cursor: pointer;
      z-index: -1;
    }

    &.expanded_active {
      .icon {
        top: 0;
        right: 14px;
        transform: rotateX(180deg);
      }
    }
  }

  &_rich {
    max-width: 266px;
    width: 100%;
  }

  &__element {
    &:nth-of-type(1) {
      margin-top: 17px;
    }

    min-height: 20px;
    vertical-align: middle;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  &__caption{
    padding-right: 20px;
    width: 100%;
  }

  &__label {
    position: relative;
    padding-left: 30px;
    color: $text-color-translucent;
    text-transform: none;
    font-style: normal;
    font-weight: normal;
    font-size: $font-size-normal;
    line-height: 20px;
    margin: 0;
    transition: color 0.3s ease-in-out;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      border: 1px solid $purple;
      border-radius: 4px;
      width: 20px;
      height: 20px;
      top: 0;
      left: 0;
    }

    &_rich {
      color: $text-color-secondary;
      font-weight: bold;
      font-size: $font-size-normal;
      line-height: 20px;
      display: flex;
      flex-direction: column;
    }
  }

  &__input {
    appearance: none;
    position: absolute;

    &:checked ~ .check-box__label::before {
      background: url('~@/components/check-box-list/img/check.png') no-repeat 4px 2px;
      background-size: 10px 11px;
    }

    &:checked ~ .check-box__label {
      color: $text-color-secondary;
    }
  }

  &__span {
    font-weight: normal;
    font-size: $font-size-small;
    line-height: 14px;
    color: $text-color-translucent;
    margin-top: 5px;
  }
}
