@import '../button/button';

.menu {
  &__auth {
    border-left: 1px solid $shadow-color;
    padding-left: 19px;
    font-size: $font-size-normal;
    color: $text-color-translucent;

    &-link {
      text-decoration: none;
      color: $text-color-translucent;

      &:hover {
        text-decoration: underline;
      }
    }

    @include media-xxs {
      padding-left: 5px;
    }
  }

  &__icon {
    @include font-icon($font-size-big);
  }

  &__items {
    @include font-normal($font-size-normal, $text-color-translucent, 17px);

    z-index: 2222;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 20px;

    @include media-md {
      position: fixed;
      left: 0;
      top: 0;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
      width: 50vw;
      height: 100vh;
      background-color: white;
    }
  }

  &__item {
    vertical-align: middle;
    margin: 0;
    padding: 0;

    &_with-list {
      position: relative;
      display: flex;
      align-items: center;
    }

    &_active {
      font-weight: bold;
      color: $text-color-secondary;
    }

    @include media-md {
      position: relative;
      align-self: center;
      text-align: center;
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  &__burger {
    display: none;

    &_active {
      @include media-md {
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid rgba(184, 184, 184, 0.2);
        height: 100%;
        min-width: 230px;
        box-shadow: 19px 0 39px -3px rgba(34, 60, 80, 0.24);
      }
    }

    @include media-md {
      display: flex;
    }
  }

  &__drop {
    &-list {
      position: absolute;
      top: 30px;
      z-index: 2430;
      display: none;
      flex-direction: row;
      align-items: center;
      list-style: none;
      border: 1px solid $shadow-color;
      border-radius: 6px;
      padding: 0;
      min-width: 100px;
      font-weight: normal;
      font-style: normal;
      font-size: $font-size-normal;
      line-height: 17px;
      color: $text-color-translucent;
      background-color: white;
      gap: 2px;
    }

    &-item {
      padding: 7px 30px;
      width: 100%;
      text-align: center;

      &:hover {
        background-color: rgba(184, 184, 184, 0.2);
      }
    }

    &-link {
      width: 100%;
      text-align: center;
    }
  }
}