div.span_stong pagination
  .span_stong_div 
    .pagination
      ul.pagination__items
        li.pagination__prev 
          i.material-icons arrow_forward
        li.pagination__item.pagination__item_current 1
        li.pagination__item 2
        li.pagination__item 3
        li.pagination__item ..
        li.pagination__item 15
        li.pagination__next 
          i.material-icons arrow_forward
      .pagination__text 1 – 12 из 100+ вариантов аренды
    
      