.diagram {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__img {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 170px;

    @include media-xxs {
      flex-direction: column;
      height: 280px;
      width: 100%;
      justify-content: center;
    }
  }

  &__title {
    margin-left: 15px;

    @include font-bold($font-size-medium, $text-color-main, 23px);

    @include media-xs {
      margin: 0;
    }
  }

  &__unit {
    animation-name: render;
    animation-duration: 1.5s;
    stroke-width: 2;
    cursor: pointer;
    transition: all .3s ease-in-out;
    z-index: 20;

    &:hover {
      stroke-width: 4;
    }
  }

  &__hovered {
    stroke-width: 4;
  }

  &__legend {
    padding: 0;
    list-style: none;
    align-self: center;
    margin-left: 25px;

    @include font-normal($color: $text-color-secondary, $lh: 24px);

    &-el {
      position: relative;
      cursor: pointer;

      &::before {
        content: '';
        top: 7px;
        left: -15px;
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #BC9CFF;
      }

      &:nth-child(1) {
        &::before {
          background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
        }

        .unit:nth-child(1) {
          stroke-width: 4;
        }
      }

      &:nth-child(2) {
        &::before {
          background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        }

      }

      &:nth-child(3) {
        &::before {
          background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        }
      }

      &:nth-child(4) {
        &::before {
          background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
        }
      }
    }
  }


  &__chart-number {
    fill: #BC9CFF;
    -moz-transform: translateY(-0.25em);
    -ms-transform: translateY(-0.25em);
    -webkit-transform: translateY(-0.25em);
    transform: translateY(-0.25em);
    text-anchor: middle;

    @include font-bold(6px, $lh: 29px);
  }

  &__chart-label {
    text-anchor: middle;
    text-transform: uppercase;
    -moz-transform: translateY(1em);
    -ms-transform: translateY(01em);
    -webkit-transform: translateY(1em);
    transform: translateY(1.2em);
    fill: $purple;

    @include font-bold(3px, $lh: 19px);
  }
}

@keyframes render {
  0% {
    stroke-dasharray: 0 100;
  }
}
