@import '~@/styles/mixin';
@import '~@/styles/variables';

.diagram {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__img {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 170px;

    @include media-xxs {
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 280px;
    }
  }

  &__title {
    @include font-bold($font-size-medium, $text-color-main, 23px);

    margin-left: 12px;

    @include media-xs {
      margin: 0;
    }
  }

  &__unit {
    z-index: 20;
    stroke-width: 1;
    transition: all 0.3s ease-in-out;
    animation-name: render;
    animation-duration: 1.5s;
    cursor: pointer;

    &:hover {
      stroke-width: 4;
    }
  }

  &__hovered {
    stroke-width: 4;
  }

  &__legend {
    @include font-normal($color: $text-color-secondary, $lh: 24px);

    align-self: center;
    list-style: none;
    margin: 21px 0 0 27px;
    padding: 0;

    &-el {
      position: relative;
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        left: -15px;
        top: 7px;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background-color: #bc9cff;
      }

      &:nth-child(1) {
        &::before {
          background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
        }
      }

      &:nth-child(2) {
        &::before {
          background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
        }
      }

      &:nth-child(3) {
        &::before {
          background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        }
      }

      &:nth-child(4) {
        &::before {
          background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
        }
      }
    }
  }

  &__chart-number {
    @include font-bold(6.6px, $lh: 29px);

    text-anchor: middle;
    transform: translateY(-2px);

    &_hidden {
      display: none;
      transition: all 0.3s ease-in-out;
    }

    &_hovered {
      display: block;
    }
  }

  &__chart-label {
    @include font-bold(3.4px, $lh: 19px);

    text-transform: uppercase;
    text-anchor: middle;
    transform: translateY(5.5px);
  }
}

@keyframes render {
  0% {
    stroke-dasharray: 0 100;
  }
}
