@import "~@/styles/mixin.scss";
@import "~@/layouts/landing-page/landing-page.scss";
@import '~@/components/date-picker/date-picker';
@import '~@/components/drop-down/drop-down';
@import '~@/components/button/button';
@import '~@/components/check-box-list/check-box-list';
@import '~@/components/range-slider/range-slider';
@import '~@/components/card-slider/card-slider';
@import '~@/components/pagination/pagination';

.search-page {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  z-index: 2;

  &__slider {
    margin-top: 31px;
  }

  &__check-box {
    margin-top: 30px;

    &-rich {
      margin-top: 28px;
    }

    &-list {
      margin-top: 31px;
    }
  }

  &__dropdown-extended {
    max-width: 266px;
    width: 100%;
    margin-top: 17px;
  }

  &__dropdown {
    max-width: 266px;
    width: 100%;
    margin-top: 25px;
  }

  &__icon {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 40px;
    transition: transform 0.3s ease-in-out;
    transform: rotate(-90deg);
    z-index: 2;

    @include font-icon($font-size-big)
  }

  &__cards {
    @include media-md {
      padding-left: 40px;
    }
    @include media-xxs {
      padding-left: 25px;
    }
  }

  &__result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 12px;
    margin-bottom: 40px;

    @include media-md {
      justify-content: center;
      align-items: flex-start;
    }
  }

  &__panel {
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: transform .3s ease-in-out;
    z-index: 22;

    @include media-lg {
      margin-left: 15px;
    }

    @include media-md {
      position: absolute;
      left: 0;
      top: 100px;
      background-color: white;
      z-index: 300;
      padding: 50px 60px 50px 30px;
      margin: 0;
      transform: translateX(-100%);
    }

    @include media-xs {
      padding: 30px 10px;
    }

    &-btn {
      display: none;
      cursor: pointer;

      @include media-md {
        display: block;
        position: absolute;
        top: 0;
        right: -20px;
        bottom: 0;
        width: 20px;
        height: 100%;
        border-radius: 0 20px 20px 0;
        color: white;
        background-image: $green-gradient;
        text-align: center;
        z-index: 220;
      }
    }
  }

  &__panel_fixed {
    transform: translateX(0%);
    max-width: calc(100% - 30px);

    .search-page__icon {
      transform: rotate(90deg);
    }
  }

  &__cards-title {
    font-weight: bold;
    font-size: $font-size-big;
    line-height: 29px;
    color: $text-color-main;
    margin-top: 0;
    margin-bottom: 23px;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-right: 10px;
  }
}
