extends ../../layouts/landing-page
include ../../components/date-picker/date-picker
include ../../components/drop-down/drop-down
include ../../components/button/button
include ../../components/check-box-list/check-box-list
include ../../components/range-slider/range-slider
include ../../components/card-slider/card-slider
include ../../components/pagination/pagination

block variables
  - const title = 'Search'

block content
  -
    const { dropdown, rangeSlider, cardSlider, cardSlider2, checkBox, pagination } = require("./serach-room.json")
    const { checkBoxList, checkBoxHome, checkBoxRich } = checkBox
    const { dropdownSelect, dropdownSelectExt } = dropdown
  .search-page
    .search-page__panel.js-search-page__panel
      +datepicker({ title1: 'даты пребывания в отеле' })
      +dropdownSelect(dropdownSelectExt)
      +rangeSlider(rangeSlider)
      +checkBoxList(checkBoxHome)
      +checkBoxList(checkBoxRich)
      +dropdownSelect(dropdownSelect)
      +checkBoxList(checkBoxList)
      .search-page__panel-btn.js-search-page__panel-btn
        i.material-icons expand_more
    .search-page__cards
      h2.search-page__cards-title Номера, которые мы для вас подобрали
      .search-page__cards_result
        - for (let i = 1 ; i <= 6 ; i+=1)
        +cardSlide(cardSlider)
        +cardSlide(cardSlider2)
      +pagination(pagination)
