@import '~@/styles/mixin.scss';
@import '~@/layouts/landing-page/landing-page.scss';
@import '~@/components/date-picker/date-picker';
@import '~@/components/drop-down/drop-down';
@import '~@/components/button/button';
@import '~@/components/check-box-list/check-box-list';
@import '~@/components/range-slider/range-slider';
@import '~@/components/card-slider/card-slider';
@import '~@/components/pagination/pagination';

.search-page {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding: 30px 0 30px 140px;
  width: 100%;
  height: 100%;
  max-width: 1920px;

  @include media-xxx {
    padding: 30px 0 0 30px;
  }

  &__slider {
    margin-top: 31px;
  }

  &__check-box {
    margin-top: 30px;

    &-rich {
      margin-top: 28px;
    }

    &-list {
      margin-top: 31px;
    }
  }

  &__dropdown-extended {
    margin-top: 17px;
    width: 100%;
    max-width: 266px;
  }

  &__dropdown {
    margin-top: 25px;
    width: 100%;
    max-width: 266px;
  }

  &__icon {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 2;
    margin: auto;
    line-height: 40px;
    text-align: center;
    transform: rotate(-90deg);
    transition: transform 0.3s ease-in-out;

    @include font-icon($font-size-big);
  }

  &__cards {
    width: 100%;

    @include media-md {
      padding: 0 40px;
    }

    @include media-sm {
      padding: 0 20px 0 0;
    }
  }

  &__result {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 40px;
    gap: 20px 12px;

    @include media-md {
      align-items: flex-start;
      justify-content: center;
    }
  }

  &__panel {
    position: relative;
    z-index: 22;
    display: flex;
    flex-direction: column;
    margin-right: 60px;
    transition: transform 0.3s ease-in-out;

    @include media-lg {
      margin-left: 15px;
    }

    @include media-md {
      position: absolute;
      left: 0;
      top: 100px;
      z-index: 30;
      margin: 0;
      padding: 50px 60px 50px 30px;
      background-color: white;
      transform: translateX(-100%);
    }

    @include media-xs {
      padding: 30px 10px;
    }

    &-btn {
      display: none;
      cursor: pointer;

      @include media-md {
        position: absolute;
        right: -20px;
        top: 0;
        bottom: 0;
        z-index: 22;
        display: block;
        border-radius: 0 20px 20px 0;
        width: 20px;
        height: 100%;
        text-align: center;
        color: white;
        background-image: $green-gradient;
      }
    }
  }

  &__panel_fixed {
    max-width: calc(100% - 30px);
    transform: translateX(0%);

    .search-page__icon {
      transform: rotate(90deg);
    }
  }

  &__cards-title {
    margin-top: 0;
    margin-bottom: 23px;
    font-weight: bold;
    font-size: $font-size-big;
    line-height: 29px;
    color: $text-color-main;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    padding-top: 7px;
    padding-right: 154px;

    @include media-xxx {
      padding: 7px;
    }
  }
}
