.color-pick {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;

  &__rectangel {
    width: 70px;
    height: 70px;
    border-radius: 6px;
  }

  &__name {
    display: flex;
    align-items: center;

    @include font-bold($font-size-medium, $lh: 28px);
  }

  &__code {
    display: flex;
    align-items: center;

    @include font-normal($font-size-medium, $lh: 28px);
  }
}
