mixin colorPick({ color , name , opacity=1 }={})
  .color-pick
    .color-pick__rectangel(style={"background-color":color, opacity})
    .color-pick__info
      .color-pick__name= name
      .color-pick__code= color
