mixin rangeSlider(title , text)
  .range__slider
    .range__slider_value
      label( for="amount")=title
      input(type="text" id="amount" readonly)
    div(id="slider-range")
    .range__slider_sub=text