extends ../../layouts/landing-page/landing-page
include ../../components/field/field
include ../../components/button/button
include ../../components/card-auth/card-auth
include ../../components/favicon/favicon

block variables
  - const title = 'Auth'
block content
  .auth
    +cardAuth
