extends ../../layouts/landing-page
include ../../components/field/field
include ../../components/button/button
include ../../components/card-auth/card-auth

block variables
  - const title = "Registration"

block content
  .register
    +cardAuth
