extends ../../layouts/landing-page/landing-page
include ../../components/card-auth/card-auth

block variables
  -
    const title = 'Auth'
    const keywords = 'авторизация, вход, войти в аккаунт'
    const description = 'Страница авторизации пользователя'

block content
  .auth
    +cardAuth
