@import "~@/styles/mixin";
@import "~@/layouts/landing-page/landing-page.scss";
@import "~@/components/button/button";
@import "~@/components/field/field";
@import "~@/components/card-auth/card-auth";

.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: url('img/auth-background.jpg') no-repeat center center;
  background-size: cover;
  min-height: 580px;
  padding: 20px 0;
}
