@import '~@/layouts/landing-page/landing-page';
@import '~@/components/card-auth/card-auth';

.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  width: 100%;
  min-height: 580px;
  background:
    url('../../assets/img/auth-background.jpg') no-repeat center
    center;
  background-size: cover;
}
