@import '~@/styles/mixin';
@import '~@/styles/variables';

.button-like {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  outline: none;
  border: 1px solid $transparent_black;
  border-radius: 10px;
  padding: 0;
  width: 40px;
  height: 20px;
  white-space: nowrap;
  text-transform: uppercase;
  background-clip: padding-box;
  background-color: #fff;
  transition: 0.3s ease-in-out;
  transition-property: border, color;
  cursor: pointer;

  &__icon {
    display: flex;
    align-items: center;
    margin-left: 4px;
    text-align: center;
    transition: opacity 0.3s ease-in-out;

    @include font-icon($font-size-little, $lh: 8px);
  }

  &__text {
    vertical-align: middle;
    margin: 0;
    padding: 0;
    min-width: 20px;
    text-align: center;
    transition: opacity 0.3s ease-in-out;

    @include font-normal($font-size-little, $transparent_black, 9px);
  }

  &_active {
    position: relative;
    border: 1px solid transparent;
    color: $purple;
    background-clip: padding-box;

    &::before {
      content: '';
      position: absolute;
      left: -1px;
      right: -1px;
      top: -1px;
      bottom: -1px;
      z-index: 1;
      mask:
        linear-gradient(90deg, #fff 0%, #fff 100%) content-box,
        linear-gradient(90deg, #fff 0%, #fff 100%);
      mask-composite: exclude;
      border-radius: 15px;
      padding: 1px;
      background-image: $purple-gradient;
      transition: opacity 0.3s ease-in-out;
    }

    > .button-like__icon {
      color: transparent;
      background-image: $purple-gradient;
      background-clip: text;
    }

    .button-like__text {
      padding: 1px;
      color: $purple;
    }
  }

  @include font-bold($font-size-little, $transparent_black, 15px);
}
