//- active --  true || false
//- number --  Number || String
mixin likeButton({ active = "false", number = "0", type = "button" })
  button(type=type, class=active&&'button-like_active').button-like.js-button-like
    span.button-like__icon favorite
    span.button-like__text.js-button-like__text= number
