.button-like {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  transition: .3s ease-in-out;
  transition-property: border, color;
  background-clip: padding-box;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid $transparent_black;
  background-color: #ffffff;

  @include font-bold($font-size-little, $transparent_black, 15px);

  &__icon {
    margin-left: 4px;
    display: flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    transition: opacity .3s ease-in-out;
    @include font-icon($font-size-little, $lh: 8px);
  }

  &__text {
    vertical-align: middle;
    text-align: center;
    margin: 0;
    padding: 0;
    min-width: 20px;
    transition: opacity .3s ease-in-out;

    @include font-normal($font-size-little, $transparent_black, 9px);
  }

  &_active {
    border: 1px solid transparent;
    color: $purple;
    position: relative;
    background-clip: padding-box;

    > .button-like__icon {
      background-image: $purple-gradient;
      background-clip: text;
      color: transparent;
    }

    .button-like__text {
      color: $purple;
      padding: 1px;
    }

    &::before {
      content: '';
      border-radius: 15px;
      background-image: $purple-gradient;
      position: absolute;
      top: -1px;
      bottom: -1px;
      right: -1px;
      left: -1px;
      z-index: 1;
      padding: 1px;
      mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
      mask-composite: exclude;
      transition: opacity .3s ease-in-out;
    }
  }
}
