//- active --  true || false
//- number --  Number || String
mixin likeButton({ active='false' , number='0'}={} )
  if active
    button.js-button-like.button-like.button-like_active
      i.material-icons favorite
      span.button-like__text.js-button-like__text= number
  else
    button.js-button-like.button-like
      i.material-icons favorite_border
      span.button-like__text.js-button-like__text= number