//- active --  true || false
//- number --  Number || String
include ../icon/icon
mixin likeButton({ active="false" , number="0"} )
  if active
    button.js-button-like.button-like.button-like_active
      +icon({text:"favorite" })
      span.button-like__text.js-button-like__text= number
  else
    button.js-button-like.button-like
      +icon({text:"favorite_border"})
      span.button-like__text.js-button-like__text= number
