//- active --  true || false
//- number --  Number || String
mixin likeButton({ active="false" , number="0"} )
  if active
    button(type="button").button-like.button-like_active.js-button-like
      .button-like__icon favorite
      span.button-like__text.js-button-like__text= number
  else
    button(type="button").button-like.js-button-like
      .button-like__icon favorite_border
      span.button-like__text.js-button-like__text= number
