button {
  outline: none;
  border: none;
  border-radius: 22px;
  height: 44px;
  padding: 14px 19px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
}

.button {
  background: $purple-gradient;
  transition: opacity .3s ease-in-out;

  &:hover,
  &:focus {
    opacity: .5;
  }

  &_like {
    padding: 0;
    width: 40px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid $dark-4;
    color: $dark-4;
    background-color: #ffffff;
    margin: 0;
    font-size: 10px;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition:  .3s ease-in-out;
    transition-property: border ,color;
    i {
      font-family: Material Icons, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      margin-left: 4px;
      line-height: 8px;
      display: flex;
      align-items: center;
      text-align: center;
      vertical-align: middle;
    }

    span {
      vertical-align: middle;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 9px;
      text-align: center;
      margin: 0;
      padding: 0;
      min-width: 20px;
    }
  }

  &_like-active {
    border: 1px solid transparent;
    color: $purple;
    position: relative;
    background-clip: padding-box;
    &::before{
      content: '';
      border-radius: 15px;
      background-image: $purple-gradient;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: -1px;
      z-index: -2;
    }
  }
}



