mixin likeButton( active , num )
  if active
    button.button_like.button_like-active
        i.material-icons favorite
        span= num
  else
    button.button_like
        i.material-icons favorite_border
        span= num

