mixin swiperSlider({url})
  .swiper-wrapper
    each key in url
      - const {src , alt} = key
      .swiper-slide
        img.swiper-slide__img(src=src, alt=alt)
  .swiper-pagination-img
  .swiper-button-prev
    .swiper__icon expand_more
  .swiper-button-next
    .swiper__icon expand_more
