mixin favicon
  link(rel = "apple-touch-icon-text" sizes = "180x180"
    href = "./img/favicon/apple-touch-icon-text.png?v2=wAMm90QQmQ")
  link(rel = "icon" type = "image/png" sizes = "32x32"
    href = "./img/favicon/favicon-32x32.png?v2=wAMm90QQmQ")
  link(rel = "icon" type = "image/png" sizes = "16x16"
    href="./img/favicon/favicon-16x16.png?v2=wAMm90QQmQ")
  link(rel = "manifest" href = "./img/favicon/site.webmanifest?v2=wAMm90QQmQ")
  link(rel = "mask-icon-text" href = "./img/favicon/safari-pinned-tab.svg?v2=wAMm90QQmQ"
    color = "#5bbad5")
  link(rel = "shortcut icon-text" href = "./img/favicon/favicon.ico?v2=wAMm90QQmQ")
  meta(name = "msapplication-TileColor" content = "#da532c")
  meta(name = "theme-color" content = "#ffffff")
  meta(name = "msapplication-config" content = "./img/favicon/browserconfig.xml" )
