@import "~@assets/css/mixin.scss";

.gallery__detail {
  display: grid;
  grid-template:   'gItem1 gItem1 gItem2' max( 243px ) 
                  'gItem1 gItem1 gItem3' max( 243px )   ;
  gap: 0;
  @include sm{
    grid-template: 'gItem1  gItem2' max( 143px ) 
                   'gItem1  gItem3' max( 143px )   ;
  }
  @include ss{
    grid-template: 'gItem1' max( 143px ) 
                   'gItem2' max( 143px )   
                   'gItem3' max( 143px )  ; 
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery_item {
    &-1 {
      grid-area: gItem1;
     
    }

    &-2 {
      grid-area: gItem2;
     
    }

    &-3 {
      grid-area: gItem3;
    }
  }
}
.detail__info{
  @include ss{
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
 
}
.detail__block{
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 70px;

  @include lg{
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: column;
    align-items: center;
  }

  @include sm{
    .card__block{
      margin: 0;
    }
  }
  @include sl{
    padding: 30px 15px;
    max-width: 320px;
  }
  @include ss{
    padding-left: 0;
    padding-right: 0;
  }
  .review{
    margin-top: 22px;
  }
  .detail__view{
    display: flex;
    flex-direction: row;
    margin-bottom: 13px;

    @include sm{
      flex-direction: column;
      align-items: center;
    }
    @include sl{
      align-items: flex-start;
      
    }
  }
 
} 

.block{
  display: flex;
  flex-direction: column;
  width: 340px;
  @include ss{
    width: 100%;
  }
  &-title{
    margin:0;
    text-transform: none;
    font-size: 19px;
    line-height: 23px;
    color: rgba(31, 32, 65, 1);
  }

  &-text{
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
  }
 
}

.detail_bottom{
  margin-top: 34px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include md{
    // margin-left: 40px ;
    margin-bottom: 30px;
  }
  @include sm{
    flex-direction: column;

  }
  .bullet_list-title{
    margin: 0;
    padding-left: 20px;
    font-size: 19px;
    line-height: 23px;
    text-transform: none;
    @include sm{
      padding: 0;
    }
    
  }
  .bullet_list{
    ul{
      margin-top: 9px;
    }
  }
  .block{
    margin-right: 10px;
    .block-text{
      margin-top: 20px;
    }
  }
}