mixin rangeSlider({title , caption })
  .range-slider
    .range-slider__value
      label.range-slider__value-title( for=title)=title
      input.range-slider__value-input(type="text" id=title readonly)
    .js-range-slider__app
    .range-slider__caption=caption
