@import "~@/libs/ion-rangeslider/ion-rangelsider.scss";

.range-slider {
  display: block;
  max-width: 266px;
  width: 100%;
  margin-bottom: 20px;

  &__caption-head {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;

    @include font-bold($font-size-small, $lh: 15px);
  }

  &__title {
    white-space: nowrap;
  }

  &__input {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: right;
    text-transform: uppercase;
    border: none;
    box-sizing: border-box;

    @include font-normal($font-size-small, $text-color-translucent);
  }

  &__caption {
    margin-top: 15px;

    @include font-normal($font-size-small, $lh: 14px);
  }

  @include ionRangeSlider
}
