@import '~@/styles/mixin';
@import '~@/styles/variables';
@import '~@/libs/ion-rangeslider/ion-rangelsider.scss';

.range-slider {
  display: block;
  width: 100%;
  max-width: 266px;

  &__section {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;

    @include font-bold($font-size-small, $lh: 15px);
  }

  &__title {
    white-space: nowrap;
  }

  &__input {
    margin: 0;
    border: none;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: right;
    text-transform: uppercase;

    @include font-normal($font-size-small, $text-color-translucent);
  }

  &__caption {
    margin-top: 13px;

    @include font-normal($font-size-small, $text-color-translucent , $lh: 14px);
  }

  @include ionRangeSlider;
}
