mixin rangeSlider({title , caption })
  .range-slider
    .range-slider__caption-head.js-range-slider__caption-head
      label.range-slider__title( for=title)=title
      input.range-slider__input.js-range-slider__input(type="text" id=title
        readonly)
    input.js-range-slider__app
    if caption
      .range-slider__caption=caption
