.range-slider {
  display: block;
  width: 266px;
  // height: 100px;
  margin-bottom: 20px;

  &__value {
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: $dark-1;
    text-transform: uppercase;

    &-title {
      white-space: nowrap;
    }

    &-input {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      margin: 0;
      padding: 0;
      text-align: right;
      text-transform: uppercase;
      color: $dark-3;
      border: none;
      box-sizing: border-box;
    }
  }

  &__caption {
    margin-top: 15px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
  }

  .ui-slider {
    border: 1px solid $dark-4;
    height: 6px;
    border-radius: 3px;
    margin-top: 23px;

  }

  .ui-slider-handle {
    box-sizing: border-box;
    background-color: $Green;
    background-image: $Green-gradient;
    border: 2px solid white;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top: -6px;
  }

  .ui-slider-range {
    background-color: $Green;
    background-image: $Green-gradient;
    height: 6px;
    top: -1px;

  }
}
