@import '~@/styles/mixin';
@import '~@/styles/variables';

.switch-toggle {
  @include font-bold($font-size-small);

  display: flex;
  flex-direction: column;
  padding: 0;
  text-transform: uppercase;

  &__caption {
    margin-bottom: 14px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  &__label {
    @include font-normal($color: $text-color-translucent, $lh: 24px);

    position: relative;
    vertical-align: middle;
    padding-left: 50px;
    text-transform: none;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 2px;
      border: 1px solid $transparent_black;
      border-radius: 10px;
      width: 40px;
      height: 20px;
      transition: border 0.3s ease-in-out;
    }

    &::after {
      content: '';
      position: absolute;
      left: 4px;
      top: 6px;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      background: $transparent_black;
      transition: all 0.3s ease-in-out;
    }
  }

  &__input {
    appearance: none;
    position: absolute;

    &:checked + .switch-toggle__label::before {
      border: 1px solid $purple;
    }

    &:checked + .switch-toggle__label {
      color: $text-color-secondary;
    }

    &:checked + .switch-toggle__label::after {
      left: 24px;
      background: $purple-gradient;
    }
  }
}
