//- caption - text caption for toggle
//- name - name for input
//- label - array text element
mixin switchToggle({ caption =  "", name = "toggle", label, checkedItemIndexDefault})
  .switch-toggle
    if (caption)
      .switch-toggle__caption= caption
    .switch-toggle__items
      each item , index in label
        input.switch-toggle__input(id = `${name}-${index}`
          checked = checkedItemIndexDefault === index type="checkbox" name = name)
        label.switch-toggle__label(for = `${name}-${index}` class = "radio__label")= item
