.switch-toggle {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  padding: 0;

  @include font-bold($font-size-small);

  &__caption{
    margin-bottom: 14px;
  }
  &__items{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__label {
    padding-left: 50px;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    text-transform: none;

    @include font-normal($color: $text-color-translucent , $lh:24px);

    &::before {
      content: '';
      position: absolute;
      width: 40px;
      height: 20px;
      border-radius: 10px;
      border: 1px solid $transparent_black;
      left: 0;
      top: 2px;
      transition: border 0.3s ease-in-out;
    }

    &::after {
      position: absolute;
      content: '';
      width: 12px;
      height: 12px;
      border-radius: 50%;
      left: 4px;
      top: 6px;
      background: $transparent_black;
      transition: all 0.3s ease-in-out;
    }
  }

  &__input {
    appearance: none;
    position: absolute;

    &:checked+.switch-toggle__label::before {
      border: 1px solid $purple;
    }

    &:checked+.switch-toggle__label {
      color: $text-color-secondary;
    }

    &:checked+.switch-toggle__label::after {
      background: $purple-gradient;
      left: 24px;
    }
  }
}
