.register{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: url('~@assets/img/regback.png') no-repeat  center center ;
  background-size: cover;
  min-height: 580px;
  padding: 20px 0;
  .card__block{
    margin-bottom: 0;
  }
}