.register{
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('~@assets/img/regback.png') no-repeat center ;
  background-size: cover;
  height: 100%;
  padding: 70px 0;
}