@font-face {
  src:
    url('../assets/fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-Medium.woff') format('woff'),
    url('../assets/fonts/Montserrat-Medium.ttf') format('truetype'),
    url('../assets/fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url('../assets/fonts/Montserrat-Black.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-Black.woff') format('woff'),
    url('../assets/fonts/Montserrat-Black.ttf') format('truetype'),
    url('../assets/fonts/Montserrat-Black.svg#Montserrat-Black') format('svg');
  font-family: 'Montserrat';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url('../assets/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-Regular.woff') format('woff'),
    url('../assets/fonts/Montserrat-Regular.ttf') format('truetype'),
    url('../assets/fonts/Montserrat-Regular.svg#Montserrat-Regular')
    format('svg');
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url('../assets/fonts/Montserrat-Bold.woff') format('woff'),
    url('../assets/fonts/Montserrat-Bold.ttf') format('truetype'),
    url('../assets/fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url('../assets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-SemiBold.woff') format('woff'),
    url('../assets/fonts/Montserrat-SemiBold.ttf') format('truetype'),
    url('../assets/fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold')
    format('svg');
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url('../assets/fonts/Montserrat-MediumItalic.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-MediumItalic.woff') format('woff'),
    url('../assets/fonts/Montserrat-MediumItalic.ttf') format('truetype'),
    url('../assets/fonts/Montserrat-MediumItalic.svg#Montserrat-MediumItalic')
    format('svg');
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  src:
    url('../assets/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-ExtraBold.woff') format('woff'),
    url('../assets/fonts/Montserrat-ExtraBold.ttf') format('truetype'),
    url('../assets/fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold')
    format('svg');
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url('../assets/fonts/MaterialIconsOutlined-Regular.woff') format('woff'),
    url('../assets/fonts/MaterialIconsOutlined-Regular.ttf') format('truetype'),
    url('../assets/fonts/MaterialIconsOutlined-Regular.svg#MaterialIconsOutlined-Regular')
    format('svg');
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url('../assets/fonts/MaterialIcons-Regular.woff') format('woff'),
    url('../assets/fonts/MaterialIcons-Regular.ttf') format('truetype'),
    url('../assets/fonts/MaterialIcons-Regular.svg#MaterialIcons-Regular')
    format('svg');
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
