@import '~normalize.css';
@import './variables';
@import './fonts';

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: $font-size-normal;
  line-height: 24px;
  color: $text-color-secondary;
  background-color: white;
}
