@import "~normalize.css";
@import "~@/styles/variables.scss";
@import "~@/styles/mixin.scss";
@import "~@/styles/fonts.scss";

@import "~@/layouts/landing-page/landing-page.scss";
@import "~@/layouts/main/main.scss";
@import "~@/layouts/grey/grey.scss";

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: $font-size-normal;
  line-height: 24px;
  color: $text-color-secondary;
  background-color: white;
}






