@import "variables";

@mixin media-lg {
  @media (max-width: 1170px) {
    @content;
  }
}

@mixin media-md {
  @media (max-width: 1000px) {
    @content;
  }
}

@mixin media-sm {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin media-xs {
  @media (max-width: 580px) {
    @content;
  }
}

@mixin media-xxs {
  @media (max-width: 362px) {
    @content;
  }
}


@mixin font-normal(
  $fs: $font-size-normal ,
  $color:$text-color-main ,
  $lh: normal ,
  $fw: normal) {

  font-family: "Montserrat", Arial, sans-serif;
  font-style: normal;
  font-weight: $fw;
  font-size: $fs;
  color: $color;
  line-height: $lh;
}

@mixin font-bold(
  $fs: $font-size-big ,
  $color:$text-color-main ,
  $lh: normal ,
  $fw: bold) {

  font-family: "Montserrat", Arial, sans-serif;
  font-style: normal;
  font-weight: $fw;
  font-size: $fs;
  color: $color;
  line-height: $lh;
}

@mixin font-icon(
  $fs: inherit ,
  $color:inherit ,
  $lh: normal ,
  $fw: normal) {

  font-family: "Material Icons", sans-serif;
  font-style: normal;
  font-weight: $fw;
  font-size: $fs;
  color: $color;
  line-height: $lh;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
}
