$text-color-main: rgba(31, 32, 65, 1);
$text-color-secondary: rgba(31, 32, 65, 0.75);
$text-color-translucent: rgba(31, 32, 65, 0.5);
$transparent_black: rgba(31, 32, 65, 0.25);
$shadow-color: rgba(31, 32, 65, 0.1);
$green: #6fcf97;
$green-gradient: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
$purple: #bc9cff;
$purple-gradient: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
$box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
$font-size-huge: 48px;
$font-size-big: 24px;
$font-size-medium: 19px;
$font-size-normal: 14px;
$font-size-small: 12px;
$font-size-little: 10px;
