extends ../../layouts/landing-page
include ../../components/field/field
include ../../components/card-registration/card-registration
include ../../components/button/button
include ../../components/input-radio/input-radio
include ../../components/switch-toggle/switch-toggle

block variables
  - var title = "Registration"

block content
  .register
    +cardRegistration

