@import '~@/layouts/landing-page/landing-page';
@import '~@/components/card-registration/card-registration';

.registration {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px 0;
  width: 100%;
  min-height: 580px;
  background:
    url('../../assets/favicon/registration-background.jpg') no-repeat
    center center;
  background-size: cover;
}
