@import "~@/styles/mixin";
@import '~@/components/field/field';
@import '~@/components/card-registration/card-registration';
@import '~@/components/button/button';
@import '~@/components/input-radio/input-radio';
@import '~@/components/switch-toggle/switch-toggle';

.registration {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: url('img/registration-background.jpg') no-repeat center center;
  background-size: cover;
  min-height: 580px;
  padding: 20px 0;
}
