extends ../../layouts/landing-page/landing-page
include ../../components/card-registration/card-registration

block variables
  -
    const title = 'Registration'
    const keywords = 'регистрация, зарегистрировать аккаунт, создать аккаунт'
    const description = 'Регистрация нового аккаунта пользователя'

block content
  .registration
    +cardRegistration

