@import '~@/styles/mixin';
@import '~@/layouts/landing-page/landing-page.scss';
@import '~@/components/field/field';
@import '~@/components/card-registration/card-registration';
@import '~@/components/button/button';
@import '~@/components/input-radio/input-radio';
@import '~@/components/switch-toggle/switch-toggle';

.registration {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px 0;
  width: 100%;
  min-height: 580px;
  background: url('img/registration-background.jpg') no-repeat center center;
  background-size: cover;
}
