mixin select({name , list} ={})
  .select
    label.select__title= name
    select.select__elements(name="dropdown")
      each item in list
        option.select__option(value= item)= item
    .select__icon expand_more
