mixin select({name , list} ={})
  .select
    .select__title(for= name)= name
    select.select__elements (id= name name="dropdown")
      each item in list
        option.select__option(value= item)= item
    +icon({text:"expand_more"})
