@import "~normalize.css";
@import "~swiper/swiper-bundle.min.css";
@import "~@assets/css/variables.scss";
@import "~@assets/css/mixin.scss";
@import "~@assets/css/stylesheet.scss";
@import '~@/libs/css/jquery-ui.structure.min.css';
@import '~air-datepicker/dist/css/datepicker.min.css';
@import "~@/pages/cards/cards.scss";
@import "~@/pages/index/index.scss";

@import '~@/components/date-picker/date-picker.scss';
@import "~@/components/button/button.scss";
@import "~@/components/button-like/button-like.scss";
@import "~@/components/field/field.scss";
@import "~@/components/select/select.scss";
@import "~@/components/list/list.scss";
@import "~@/components/range-slider/range-slider.scss";
@import "~@/components/input-radio/input-radio.scss";
@import "~@/components/drop-down/drop-down.scss";
@import "~@/components/icon-text/icon-text.scss";
@import "~@/components/check-box-list/check-box-list.scss";
@import "~@/components/review/review.scss";
@import "~@/components/pagination/pagination.scss";
@import "~@/components/switch-toggle/switch-toggle.scss";
@import "~@/components/card-slider/card-slider.scss";
@import "~@/components/card-auth/card-auth.scss";
@import "~@/components/card-registration/card-registration.scss";
@import "~@/components/card-room/card-room.scss";
@import "~@/components/card-find/card-find.scss";
@import "~@/components/star-rating/star-rating.scss";
@import "~@/components/diagram/diagram.scss";
@import "~@/components/header/header.scss";
@import "~@/components/menu/menu.scss";
@import "~@/components/footer/footer.scss";

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $dark-2;
}

.span_stong {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  text-transform: uppercase;
  color: $dark-1;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  .span_stong_div {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 6px;
  }
}

.df {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.wrapper {
  padding: 30px;
  @include md {
    padding: 30px 15px;
  }
}

.container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.container-content {
  max-width: 1160px;
  margin: 0 auto;
}

.wrapper_grey {
  padding: 30px;
  background-color: #e5e5e5;

  @include sl {
    padding: 0;
  }
}

.label {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: $dark-1;
}