@import "~normalize.css";
@import "~swiper/swiper-bundle.min.css";
@import "~@assets/css/variables.scss";
@import "~@assets/css/mixin.scss";
@import "~@assets/css/stylesheet.scss";
@import '~@/libs/css/jquery-ui.structure.min.css';
@import '~air-datepicker/dist/css/datepicker.min.css';
@import "~@/pug/pages/cards/cards.scss";

@import '~@/pug/components/date-picker/date-picker.scss';
@import "~@/pug/components/button/button.scss";
@import "~@/pug/components/button-like/button-like.scss";
@import "~@/pug/components/field/field.scss";
@import "~@/pug/components/select/select.scss";
@import "~@/pug/components/list/list.scss";
@import "~@/pug/components/range-slider/range-slider.scss";
@import "~@/pug/components/input-radio/input-radio.scss";
@import "~@/pug/components/drop-down/drop-down.scss";
@import "~@/pug/components/icon-text/icon-text.scss";
@import "~@/pug/components/check-box-list/check-box-list.scss";
@import "~@/pug/components/review/review.scss";
@import "~@/pug/components/pagination/pagination.scss";
@import "~@/pug/components/switch-toggle/switch-toggle.scss";
@import "~@/pug/components/card-slider/card-slider.scss";
@import "~@/pug/components/star-rating/star-rating.scss";
@import "~@/pug/components/diagram/diagram.scss";
@import "~@/pug/components/header/header.scss";
@import "~@/pug/components/footer/footer.scss";

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $dark-2;
}
//h1 {
//  font-family: 'Montserrat', sans-serif;
//  font-style: normal;
//  font-weight: bold;
//  font-size: 24px;
//  line-height: 29px;
//  color: $dark-1;
//}
//
//h2 {
//  font-family: 'Montserrat', sans-serif;
//  font-style: normal;
//  font-weight: bold;
//  font-size: 19px;
//  line-height: 23px;
//}

//h3 {
//  font-family: 'Montserrat', sans-serif;
//  font-style: normal;
//  font-weight: bold;
//  font-size: 12px;
//  line-height: 15px;
//  color: $dark-1;
//  text-transform: uppercase;
//}

.span_stong {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  text-transform: uppercase;
  color: $dark-1;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  .span_stong_div {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 6px;
  }
}

.df {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.wrapper {
  padding: 100px;

  @include md {
    padding: 30px 15px;
  }
}

.container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.container-content {
  max-width: 1160px;
  margin: 0 auto;
}

.wrapper_grey {
  padding: 30px;
  background-color: #e5e5e5;

  @include sl {
    padding: 0;
  }
}

.label {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: $dark-1;
}