$dark-1: rgba(31, 32, 65, 1);
$dark-2: rgba(31, 32, 65, 0.75);
$dark-3: rgba(31, 32, 65, 0.5);
$dark-4: rgba(31, 32, 65, 0.25);
$dark-5: rgba(31, 32, 65, 0.05);
$dark-6: rgba(31, 32, 65, 0.1);
$purple:#BC9CFF;
$Green:#6FCF97;
$purple-gradient:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$Green-gradient: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);