$text-color-main: rgba(31, 32, 65, 1);
$text-color-secondary: rgba(31, 32, 65, 0.75);
$text-colot-translucent: rgba(31, 32, 65, 0.5);
$border-color: rgba(31, 32, 65, 0.25);
$shadow-color: rgba(31, 32, 65, 0.1);
$green:#6FCF97;
$green-gradient: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
$purple:#BC9CFF;
$purple-gradient:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);