.select__block {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  position: relative;
  width: 320px;

  .select {
    width: 100%;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid $dark-4;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 14px;
    font-size: 14px;
    color: rgba(31, 32, 65, 0.75);
    appearance: none;

    &:hover,
    &:focus {
      border: 1px solid $dark-3;
      cursor: pointer;
      font-style: normal;
      font-weight: normal;
      line-height: 24px;
      outline: none;
    }

    option {
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;

      text-transform: uppercase;

      height: 30px;
      color: $dark-1;
      margin: 7px;
      padding: 6px;
    }
  }

  i {
    width: 24px;
    height: 24px;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $dark-3;
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    pointer-events: none;
  }
}

