extends ../../layouts/grey/grey
include ../../components/button/button

block variables
  - const title = 'Demo | Pages'

block content
  - const { buttons } = require('./index.json')
  .pages
    each button in buttons
      .pages__btn
        +button(button)&attributes({style:{width:"100%"}})
