extends ../../layouts/main
include ../../components/field/field
include ../../components/button/button
include ../../components/select/select
include ../../components/star-rating/star-rating
include ../../components/button-like/button-like
include ../../components/pagination/pagination
include ../../components/review/review
include ../../components/range-slider/range-slider
include ../../components/switch-toggle/switch-toggle
include ../../components/input-radio/input-radio
include ../../components/date-picker/date-picker
include ../../components/drop-down/drop-down
include ../../components/check-box-list/check-box-list
include ../../components/bullet-list/bullet-list
include ../../components/icon-text/icon-text

block variables
  - var title = 'Главная'

block content
  .wrapper-content
    .wrapper-content__block
      +field({
        name: 'email',
        title: 'text field',
        placeholder: 'Email'
      })
      +field({
        name: 'date',
        title: 'masked text field',
        placeholder: 'ДД.ММ.ГГГГ'
      })
      +select({
        name: 'dropdown',
        list: ['декабрь', 'ноябрь', 'декабрь', 'ноябрь']
      })
      +datepicker({
        title1: 'date dropdown',
        title2: 'date dropdown'
      })
      +datepicker({ title1: 'filter date dropdown' } )
      
      +field({
        name: 'email',
        title: 'text field',
        placeholder: 'Email',
        form:
          true
      })
    .wrapper-content__block
      +checkBoxList( {
        caption: 'checkbox buttons',
        name: 'le',
        labels: ['Можно курить', 'Можно с питомцами ',
          'Можно пригласить гостей (до 10 человек)'
        ]
      })
      +inputRadio({
        caption: 'Radio Buttons',
        name: 'gender',
        label: ['Мужчина', 'Женщина']
      })
      +switchToggle({
        caption: 'toogle',
        name: 'toogle',
        label: ['Получать спецпредложения', 'Получать спецпредложения']
      })
      div.span_stong like button
        .span_stong_div
          +likeButton({
            active: false,
            number: '2'
          })
          +likeButton({
            active: true,
            number: '12'
          })
      div.span_stong rate button
        div
          +starRating({ currentRating: '3.47' })

    .wrapper-content__block
      +rangeSlider({
        title: 'range slider',
        caption: 'стоимость пребывания за сутки ' +
          'в номере'
      })
      div.span_stong button
        div
          +button({
            style: 'small',
            text: 'CLICK ME'
          })
          +button({
            style: 'outline',
            text: 'CLICK ME'
          })
          +button({
            style: 'long',
            text: 'перейти к оплате'
          })
          +button({
            style: 'outline',
            text: 'CLICK ME',
            href: '#',
            border: false
          })
          +button({
            style: 'outline',
            text: 'CLICK ME',
            href: '#',
            border: false
          })
      div.span_stong pagination
        .span_stong_div
          +pagination({
            prev: false,
            pagination: [{
              current: true,
              number: 1
            },
              { number: 2 }, { number: 3 }, { number: '..' },
              { number: 15 }],
            next: true,
            text: ' 1 – 12 из 100+ вариантов аренды'
          })
    
    .wrapper-content__block
      
      +dropdownSelect({
        active: true,
        name: 'dropdown',
        current: '2 спальни, 2 кровати',
        text: ['спальни',
          'кровати',
          'ванные комнаты']
      })
      +dropdownSelect({
        active: true,
        extended: true,
        name: 'dropdown',
        current: 'Сколько гостей',
        text: ['взрослые',
          'дети',
          'младенцы']
      })
    .wrapper-content__block
      +checkBoxList( {
        style: 'expanded',
        caption: 'expandable checkbox list',
        name: 'exp',
        labels: ['Завтрак', 'Письменный стол',
          'Стул для кормления',
          'Кроватка', 'Телевизор',
          'Шампунь', 'Телевизор',
          'Шампунь'
        ]
      })
      +checkBoxList(
        {
          style: 'rich',
          caption: 'rich checkbox buttons',
          name: 'info',
          labels: [
            {
              text: 'Широкий коридор',
              desc: 'Ширина коридоров в номере не менее 91 см.'
            },
            {
              text: 'Помощник для инвалидов',
              desc: 'На 1 этаже вас встретит специалист  и проводит до номера.'
            }]
        })

      +bulletList({
        title: 'bullet list',
        items: ['Нельзя с питомцами', "Без " +
        "вечеринок и " +
        "мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"]
      })
    .wrapper-content__block
      +review({
        avatar: 'img/avatar.jpg',
        active: true,
        name: 'Мурад Сарафанов',
        lastVisit: '5 дней назад',
        comment: 'Великолепный матрас на кровати в ' +
          'основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
      })
      +iconText({
        items: [
          {
            icon: 'insert_emoticon',
            text: 'Комфорт',
            desc: 'Шумопоглощающие стены'
          },
          {
            icon: 'location_city',
            text: 'Удобство',
            desc: 'Окно в каждой из спален'
          }]
      })
