@import '~@/styles/mixin';
@import '~@/components/button/button';

.index {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 380px;
  background-color: white;
  border: 1px solid $transparent_black;

  &__btn {
    &:hover {
      cursor: pointer;
      border: 2px solid $transparent_black;
    }
  }
}
