extends ../../layouts/grey
include ../../components/button/button

block variables
  - const title = 'Demo | Pages'

block content
  - const { buttons } = require('./index.json')
  .pages
    each button in buttons
      +button(button)
