extends ../../layouts/grey/grey
include ../../components/button/button

block variables
  -
    const title = 'Demo | Pages'
    const keywords = 'демо'
    const description = 'демо'
block content
  - const { buttons } = require('./index.json')
  .index
    each button in buttons
      +button(button)
