@import '~@/styles/variables.scss';

.pages {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 380px;
  background-color: white;
  border-radius: 16px;
  border: 1px solid $color-transparent;

  .link {
    &:hover {
      cursor: pointer;
      border: 1px solid $color-transparent;
    }
  }
}
