//- items -- Array<object>
//- items.icon -- name material icons
//- item.text -- head text for element
//- item.desc -- text description
mixin iconText({items})
  .icon
    each item in items
      - const {icon , text , desc} = item
      .icon__item
        .icon__icon= icon
        .icon__text= text
          span.icon__description= desc
