.toogle_box {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat';
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 1rem;

  label {
    margin-top: 10px;
    padding-left: 50px;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-transform: none;
    line-height: 24px;
    color: $dark-3;

    &::before {
      content: '';
      position: absolute;
      width: 40px;
      height: 20px;
      border-radius: 10px;
      border: 1px solid $dark-4;
      left: 0;
      top: 2px;
      transition: border 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    &::after {
      position: absolute;
      content: '';
      width: 12px;
      height: 12px;
      border-radius: 50%;
      left: 4px;
      top: 6px;
      background: $dark-4;
      transition: all 0.3s ease-in-out;
    }
  }

  input {
    appearance: none;
    position: absolute;

    &:checked+label::before {
      border: 1px solid $purple;
    }

    &:checked+label {
      color: $dark-2;
    }

    &:checked+label::after {
      background: $purple-gradient;
      left: 24px;
    }
  }
}