extends ../layouts/grey
include ../components/date-picker/date-picker
include ../components/drop-down/drop-down
include ../components/button/button
include ../components/field/field
include ../components/input-radio/input-radio
include ../components/switch-toggle/switch-toggle
include ../components/card-slider/card-slider
block variables
    - var title = 'Cards'

block content
    .cards
        .card__block
            .card__title Найдём номера под ваши пожелания
            +datepicker({title1:'прибытие', title2:'выезд'})
            +dropdownSelect({extended: true, active: false, name:'гости',
              current:'Сколько гостей', text:[
                'взрослые',
                'дети', 'младенцы']})
            +button(3,'подобрать номер')

        .card__block
            .card__title Регистрация аккаунта
            +field({name:'name', placeholder: 'Имя'})
            +field({name:'name', placeholder:'Фамилия'})
            +inputRadio({name: 'gender', label:['Мужчина', 'Женщина']})
            +field({name:'date', title: 'Дата рождения', placeholder: 'ДД.ММ' +
                        '.ГГГГ'})
            .card__auth
                +field({name:'email', title:'Данный для входа в сервис',
                    placeholder:'Email'})
                +field({name:'name',placeholder: 'Пароль'})
                +switchToggle({caption:'', name:'toogle',label: ['Получать спецпредложения'] })
            +button({style:'long', text:'перейти к оплате'})
            .card__bot
                .card__bot_text Уже есть аккаунт на Toxin
                +button({style:'outline',text:'Войти'})

        .card__block
            .card__title Войти
            +field({name:'email',placeholder: 'Email'})
            +field({name:'name',placeholder: 'Пароль'})
            .card__auth_in
                +button({style: 'long', text: 'войти'})
                .card__bot
                    .card__bot_text Нет аккаунта на Toxin
                    +button({style: 'outline', text: 'Создать'})

        .card__block
            .card__header
                .room
                    .room_number
                        span №
                        | 888
                    .room_category люкс
                .price
                    span 9900₽
                    | в сутки
            .card__reg
                +datepicker('прибытие' , 'выезд')
                +dropdownSelect({
                  extended: true, active: false, name: 'гости',
                  current: 'Сколько гостей', text: [
                    'взрослые',
                    'дети', 'младенцы']
                })
            .card__info
                .card__info_item
                    .card__info_name.card-pay1 9990₽
                    .card__info_sum.card-pay2 39000₽
                .card__info_item
                    .card__info_name.card-sale1 Сбор за услуги: скидка 2 179₽
                    .card__info_sum.card-sale2 0₽
                .card__info_item
                    .card__info_name.card-dop1 Сбор за дополнительные услуги
                    .card__info_sum.card-dop2 3000₽
                .card__info_result
                    .card__info_result_name Итого
                    .card__info_result_sum 3890000₽
            +button({style:'long', text:'забронировать'})
        +cardSlide([{ src : 'img/slider.png'} ,{ src : 'img/slider2.png'},{ src : 'img/slider.png'} ,{ src : 'img/slider2.png'} ], '840', 'люкс', '9900', 65 , '3.4' )
        +cardSlide([{ src : 'img/slider.png'} ,{ src : 'img/slider2.png'},{ src : 'img/slider.png'} ,{ src : 'img/slider2.png'} ], '840', '', '9900', 65 , '3.4' )