extends ../layouts/main

block variables
    - var title = 'Главная'

block content
    include ../components/input/input
    include ../components/button/button
    include ../components/list/list
    include ../components/range-slider/range-slider
