extends ../layouts/main

block variables
    - var title = 'Главная'

block content
    include ../components/input/input
    include ../components/button/button
    include ../components/list/list
    div Заголовок еssрвого уровня
