.footer-nav {
  &__title {
    font-weight: bold;
    font-size: $font-size-small;
    line-height: 15px;
    text-transform: uppercase;
    color: $text-color-main;
  }

  &__items {
    list-style: none;
    margin-top: 20px;
    padding: 0;
    font-size: $font-size-normal;
    line-height: 19px;
    color: $text-color-translucent;
  }

  &__item {
    margin-top: 20px;

    &-link {
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
