.cards {
  margin: 72px 110px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  min-width: 0;

  @include sl {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 0;
    flex-direction: column;
  }

}

.card__block {
  padding: 40px 30px 30px 30px;
  background-color: white;
  width: 380px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  color: $dark-1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 40px;

  @include ss {
    max-width: 350px;
    width: 100%;
  }

  .card__title {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 22px;
  }

  .data__select {
    margin-bottom: 17px;
  }

  .dropdown__select_modify {
    margin-bottom: 30px;
  }

  .input_text {
    margin-bottom: 10px;
  }

  .radio__items {
    line-height: normal;
    padding: 0;
    margin-bottom: 7px;
  }

  .radio__items .radio__item {
    margin-top: -3px;
  }

  .radio__label {
    margin-top: -2px;
  }

  .card__auth {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .card__auth_in {
    margin-top: 10px;
    z-index: 20;

    .card__bot {
      z-index: 20;

      .button_secondary {
        padding: 10px 17px;
      }
    }
  }

  .card__bot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 220;
    margin-top: 30px;

    .button_secondary {
      padding: 10px 23px;
    }
  }


  .card__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    vertical-align: middle;
    gap: 17px;
    padding-top: 2px;
    margin-bottom: 20px;

    &_item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

    }

    &_name {
      width: 214px;
      line-height: 18px;

    }

    &_sum {
      // line-height: 14px;
      // vertical-align: top;
      line-height: 18px;


    }

    &_result {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-weight: bold;
      font-size: 19px;
      line-height: 23px;
      margin-top: 14px;

      &_name {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        width: 100%;

        &::after {
          content: '';
          display: block;
          position: relative;
          width: 100%;
          height: 2px;
          border-bottom: 1px dashed $dark-4;
          box-sizing: border-box;
          z-index: 20;
        }
      }

      &_sum {

        white-space: nowrap;
      }
    }
  }

  .card__reg {
    .data__select {
      margin-bottom: 20px;
    }

    .dropdown__select_modify {
      margin-bottom: 20px;
    }
  }

}

.card__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;

  .room {
    display: inline-flex;
    align-items: flex-end;
    font-weight: bold;
    font-size: 14px;
    line-height: 29px;

    &_number {
      font-size: 24px;
      line-height: normal;

      span {
        font-size: 14px;
        margin-right: 1px;
      }
    }

    &_category {
      color: $purple;
      line-height: 24px;
    }
  }

  .price {
    display: flex;
    align-self: flex-end;
    text-align: right;
    line-height: 23px;
    font-size: 12px;
    font-weight: normal;

    color: $dark-3;

    span {
      font-weight: bold;
      font-size: 14px;
      margin-right: 3px;
    }
  }
}