.star-rating {
  position: relative;
  display: flex;

  &__input {
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 20;
    background-color: transparent;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  &__radio {
    position: relative;
    overflow: hidden;

    .icon {
      display: block;
      position: relative;
      overflow: hidden;
      background-image: $purple-gradient;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .star {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 40%;
    }
  }
}
