.star-rating {
  position: relative;
  display: flex;

  &__input {
    appearance: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 20;
    width: 100%;
    background-color: transparent;
    cursor: pointer;
  }

  &__icon {
    @include font-icon($font-size-big, transparent);

    position: relative;
    display: block;
    overflow: hidden;
    background-image: $purple-gradient;
    background-clip: text;

    &_active {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }

  &__radio {
    position: relative;
    overflow: hidden;
  }
}
