.wrapper {
  min-height: 100vh;
  padding: 30px;

  @include media-md {
    padding: 30px 15px;
  }

  &_with_grey_background {
    padding: 30px;
    background-color: #e5e5e5;

    @include media-xs {
      padding: 0;
    }
  }
}
