block variables
include ../../components/favicon/favicon

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    +favicon
    block favicon
    if title
      title= title
    else
      title= 'TOXIN'
  body.grey
    img(src="img/logo-page.svg", alt="")
    block content
