.field {
  &__label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0;
    font-weight: bold;
    font-size: $font-size-small;
    line-height: 15px;
    text-transform: uppercase;
    color: $text-color-main;
  }

  &__input {
    width: 320px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid $color-transparent;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 14px;
    font-size: $font-size-normal;
    color: $text-color-secondary;

    @include media-xxs {
      width: 100%;
    }

    &::placeholder {
      color: $color-transparent;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: $font-size-normal;
      height: 18px;
    }

    &:hover,
    &:focus {
      border: 1px solid $text-color-translucent;
      font-style: normal;
      font-weight: normal;
      line-height: 24px;
      outline: none;
    }
  }
}

.field-form {
  &__title {
    font-weight: bold;
    font-size: $font-size-small;
    line-height: 15px;
    text-transform: uppercase;
    color: $text-color-main;
  }

  &__block {
    display: flex;
    flex-direction: row;
    margin: 5px 0 0;
    align-items: flex-start;
    border: 1px solid $color-transparent;
    border-radius: 4px;
    width: 267px;
    height: 44px;
    box-sizing: border-box;

    @include media-xxs {
      width: 100%;
    }

    &:hover,
    &:focus {
      border: 1px solid $text-color-translucent;
      font-style: normal;
      font-weight: normal;
      line-height: 18px;
      outline: none;
    }
  }

  &__input {
    width: 223px;
    height: 100%;
    vertical-align: middle;
    background: #FFFFFF;
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 15px;
    font-size: $font-size-normal;
    color: $text-color-secondary;
    border-right: 0;
    outline: none;

    @include media-xxs {
      width: 100%;
    }

    &::placeholder {
      color: $color-transparent;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: $font-size-normal;
      height: 18px;
    }
  }

  &__btn {
    display: inline-block;
    width: 44px;
    height: 44px;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
    background-color: white;
    color: $text-color-main;
    background-image: $purple-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    border: none;
  }
}
