@import '~@/styles/mixin';
@import '~@/styles/variables';

.field {
  &__label {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-weight: bold;
    font-size: $font-size-small;
    line-height: 15px;
    text-transform: uppercase;
    color: $text-color-main;
    cursor: pointer;
    gap: 5px;
  }

  &__input {
    border: 1px solid $transparent_black;
    border-radius: 4px;
    padding: 0 14px;
    width: 320px;
    height: 44px;
    box-sizing: border-box;
    font-size: $font-size-normal;
    color: $text-color-secondary;
    background: #fff;
    transition: border 0.1s linear;

    @include media-xxs {
      width: 100%;
    }

    &::placeholder {
      height: 18px;
      font-size: $font-size-normal;
      color: $transparent_black;
    }

    &:hover,
    &:focus {
      outline: none;
      border: 1px solid $text-color-translucent;
      font-weight: normal;
      font-style: normal;
      line-height: 24px;
    }
  }

  &__input-form {
    vertical-align: middle;
    outline: none;
    border: none;
    border-right: 0;
    border-radius: 4px;
    padding-left: 15px;
    width: 223px;
    height: 100%;
    box-sizing: border-box;
    font-size: $font-size-normal;
    color: $text-color-secondary;
    background: #fff;

    @include media-xxs {
      width: 100%;
    }

    &::placeholder {
      height: 18px;
      font-family: 'Montserrat', sans-serif;
      font-weight: normal;
      font-style: normal;
      font-size: $font-size-normal;
      color: $transparent_black;
    }
  }

  &__title {
    font-weight: bold;
    font-size: $font-size-small;
    line-height: 15px;
    text-transform: uppercase;
    color: $text-color-main;
  }

  &__block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 5px 0 0;
    border: 1px solid $transparent_black;
    border-radius: 4px;
    width: 267px;
    height: 44px;
    box-sizing: border-box;
    transition: border 0.1s linear;

    @include media-xxs {
      width: 100%;
    }

    &:hover,
    &:focus {
      outline: none;
      border: 1px solid $text-color-translucent;
      font-weight: normal;
      font-style: normal;
      line-height: 18px;
    }
  }

  &__icon {
    @include font-icon($font-size-big, transparent, $lh: 24px);
  }

  &__btn {
    display: inline-block;
    vertical-align: middle;
    outline: none;
    border: none;
    padding: 0;
    width: 44px;
    height: 44px;
    white-space: nowrap;
    text-align: center;
    color: $text-color-main;
    background-image: $purple-gradient;
    background-clip: text;
    background-color: white;
    cursor: pointer;
  }
}
