include ../field/field
include ../button/button

mixin cardAuth
  .card-auth
    .card-auth__title Войти
    .card-auth__field
      +field({
        name: "email",
        placeholder: "Email",
      })
    .card-auth__field
      +field({
        name: "name",
        placeholder: "Пароль",
      })
    .card-auth__submit
      +button({
        style: "filled",
        size: "long",
        text: "войти",
        type: "submit",
      })
    .card-auth__bot
      | Нет аккаунта на Toxin
      +button({
        style: "outlined",
        text: "Создать",
        href: "./index.html",
      })
