@import '~@/styles/mixin';
@import '~@/styles/variables';
@import '../field/field';
@import '../button/button';

.card-auth {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 40px 30px 30px;
  width: 380px;
  box-shadow: $box-shadow-light;
  color: $text-color-main;
  background-color: white;

  @include media-xxs {
    padding: 30px 15px;
    width: 100%;
    max-width: 355px;
  }

  &__field {
    margin-bottom: 10px;
  }

  &__title {
    @include font-bold($lh: 30px);

    margin-bottom: 22px;
  }

  &__submit {
    margin-top: 8px;
  }

  &__bot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
  }
}
