include ../field/field
include ../menu/menu
mixin header({logo, items, auth}={})
  .header
    .header__nav-bar
      .header__logo
        img.header__img(src=logo.src, alt=logo.alt ? logo.alt : 'logo')
      +menu({items, auth})(class='header__menu')