@import '../menu/menu';

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 15px 30px;
  width: 100%;
  height: 70px;
  max-width: 1160px;
  box-shadow: $box-shadow-bold;
  background-color: white;

  &__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    gap: 20px;

    @include media-md {
      flex-direction: row-reverse;
    }
  }

  &__logo {
    margin-top: 9px;

    &-img {
      width: 100%;
      object-fit: contain;
    }

    @include media-xs {
      width: 80px;
    }
  }
}