@import '~@/styles/mixin.scss';
@import '~@/layouts/landing-page/landing-page.scss';
@import '~@/components/field/field';
@import '~@/components/date-picker/date-picker';
@import '~@/components/drop-down/drop-down';
@import '~@/components/button/button';
@import '~@/components/card-find/card-find';

.pick-room {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(100vh - 70px);
  min-height: 500px;
  background: url('./img/background.jpg') no-repeat center;
  background-size: cover;

  &__slide {
    @include font-normal($font-size-normal, $text-color-secondary);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    float: left;
    margin: 70px 0 25px;
    padding: 0 135px 0 140px;
    width: 100%;
    min-height: 500px;
    max-width: 1920px;

    @include media-lg {
      justify-content: center;
    }

    @include media-sm {
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__caption {
    align-self: flex-end;
    width: 297px;
    line-height: 1.5;
    text-align: right;
  }

  @include media-md {
    height: 100%;
  }
}
