extends ../../layouts/landing-page/landing-page
include ../../components/card-find/card-find

block variables
  -
    const title = 'Pick Room'
    const keywords = 'период проживания, номера, даты въезда и выезда'
    const description = 'Подобрать номер на период проживания'

block content
  .pick-room
    .pick-room__slide
      +cardFind
      .pick-room__caption Лучшие номера для вашей работы, отдыха и просто вдохновения
