extends ../../layouts/landing-page/landing-page
include ../../components/field/field
include ../../components/date-picker/date-picker
include ../../components/drop-down/drop-down
include ../../components/button/button
include ../../components/card-find/card-find

block variables
  -
    const title = 'Pick Room'
    const keywords = 'период проживания, номера, даты въезда и выезда'
    const description = 'Подобрать номер на период проживания'
block content
  .pick-room
    .pick-room__slide
      .card-block
        +cardFind
