extends ../../layouts/grey
include ../../components/header/header
include ../../components/footer/footer
include ../../components/footer-mobile/footer-mobile

block variables
  - const title = 'Header | Footer'

block content
  - const { headerReg, headerAuth, footer, footerMobile } = require("./header-footer.json");

  .df
    +header(headerReg)
    +header(headerAuth)
    +footer(footer)
    +footerMobile(footerMobile)
