extends ../../layouts/grey/grey
include ../../components/header/header
include ../../components/footer/footer
include ../../components/footer-mobile/footer-mobile

block variables
  -
    const title = 'Header | Footer'
    const keywords = 'header, footer, footer mobile'
    const description = 'Header and footer'
block content
  - const { headerReg, headerAuth, footer, footerMobile } = require('./header-footer.json');

  .header-footer
    +header(headerReg)
    +header(headerAuth)
    +footer(footer)
    +footerMobile(footerMobile)
