@import '~@/styles/mixin';
@import '~@/layouts/grey/grey';
@import '~@/components/header/header';
@import '~@/components/footer/footer';
@import '~@/components/footer-mobile/footer-mobile';

.header-footer {
  display: flex;
  flex-direction: column;
  margin: 55px 0 0;
  padding-bottom: 140px;
  gap: 40px;
}