//- items -- Array<object>
//- items.icon -- name material icons
//- item.text -- head text for element
//- item.desc -- text description
mixin iconText({items}={})
  .icon-box
    each item in items
      .icon-box__item
        i.material-icons= item.icon
        .icon-box__text= item.text
          span.icon-box__description= item.desc
