.icon-box {
  width: 291px;
  @include media-xxs {
    width: 100%;
  }

  &__item {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid $shadow-color;
    display: flex;
    flex-direction: row;
    gap: 10px;

    &:last-child {
      border: none;
    }

    .material-icons {
      font-size: 48px;
      background-image: $purple-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__text {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: $text-color-secondary;
    display: flex;
    flex-direction: column;
  }

  &__description {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
  }
}
