//- items -- Array<object>
//- items.icon -- name material icons
//- item.text -- head text for element
//- item.desc -- text description
mixin iconText({items})
  .icon-box
    each item in items
      - const {icon , text , desc} = item
      .icon-box__item
        .icon-box__icon= icon
        .icon-box__text= text
          span.icon-box__description= desc
