@import '../date-picker/date-picker';
@import '../drop-down/drop-down';

.card-find {
  @include font-normal($color: $text-color-main);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 40px 30px 30px;
  width: 380px;
  height: min-content;
  box-shadow: $box-shadow-light;
  background-color: white;

  &__title {
    @include font-bold($font-size-big, $text-color-main, 30px);
  }

  &__date-picker {
    margin-top: 22px;
  }

  &__dropdown {
    margin-top: 17px;
  }

  @include media-xxs {
    padding: 30px 15px;
    width: 100%;
    max-width: 355px;
  }
}