include ../../components/date-picker/date-picker
include ../../components/drop-down/drop-down

mixin cardFind
  .card-find
    .card-find__title Найдём номера под ваши пожелания
    +datepicker({
      firstTitle: "прибытие",
      secondTitle: "выезд"
    })
    +dropdownSelect({
      extended: true,
      active: false,
      name: "гости",
      current: "Сколько гостей",
      text: [
        "взрослые",
        "дети", "младенцы"]
    })
    +button({
      style: "long",
      text: "подобрать номер"
    })
