.card-find {
  padding: 40px 30px 30px 30px;
  background-color: white;
  width: 380px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  color: $text-color-main;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include ss {
    max-width: 355px;
    width: 100%;
  }


  .date-picker {
    margin-bottom: 17px;
  }

  .dropdown__select_extended {
    margin-bottom: 30px;
  }

  &__title {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 22px;
  }

}
