include ../date-picker/date-picker
include ../drop-down/drop-down

mixin cardFind
  .card-find
    .card-find__title Найдём номера под ваши пожелания
    .card-find__date-picker
      +datepicker({
        firstTitle: "прибытие",
        secondTitle: "выезд",
      })
    .card-find__dropdown
      +dropDown({
        extended: true,
        active: false,
        name: "гости",
        current: "Сколько гостей",
        text: [
          "взрослые",
          "дети",
          "младенцы",
        ]
      })
    .card-find__submit
      +button({
        style: "filled",
        size: "long",
        text: "подобрать номер",
        type: "submit"
      })
