.bullet-list {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 300px;
  width: 100%;

  @include font-normal();

  &__title {
    margin-bottom: 14px;

    @include font-bold($font-size-small );
  }

  &__items {
    list-style: none;
    text-transform: none;
    padding: 0;
    margin: 0;

    @include font-normal($color: $text-color-secondary , $lh: 24px);
  }

  &__item {
    position: relative;
    padding-left: 21px;
    margin-top: 10px;
    &:first-child{
      margin-top: 0;
    }
    &::before {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      left: 0;
      top: 5px;
      background-color: $transparent_black;
    }
  }
}
