@import '~@/styles/mixin';
@import '~@/styles/variables';

.bullet-list {
  @include font-normal;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 264px;
  text-transform: uppercase;

  &__title {
    @include font-bold($font-size-small);

    margin-bottom: 14px;
  }

  &__items {
    @include font-normal($color: $text-color-secondary, $lh: 24px);

    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: none;
  }

  &__item {
    position: relative;
    margin-top: 10px;
    padding-left: 21px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 5px;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      background-color: $transparent_black;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}
