@import '~@/layouts/main/main';
@import '~@/components/field/field';
@import '~@/components/button/button';
@import '~@/components/select/select';
@import '~@/components/star-rating/star-rating';
@import '~@/components/button-like/button-like';
@import '~@/components/pagination/pagination';
@import '~@/components/review/review';
@import '~@/components/range-slider/range-slider';
@import '~@/components/switch-toggle/switch-toggle';
@import '~@/components/input-radio/input-radio';
@import '~@/components/date-picker/date-picker';
@import '~@/components/drop-down/drop-down';
@import '~@/components/check-box-list/check-box-list';
@import '~@/components/bullet-list/bullet-list';
@import '~@/components/icon-text/icon-text';

.components-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 60px 0 0 140px;
  gap: 100px 120px;

  @include media-md {
    padding: 60px 30px;
  }

  @include media-sm {
    gap: 60px;
  }

  @include media-xxs {
    padding: 30px 10px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    gap: 20px;

    &_big {
      max-width: max-content;
    }
  }

  &__element {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-top: 14px;
    text-transform: uppercase;

    @include font-bold($font-size-small, $text-color-main, 15px);
  }

  &__items {
    display: flex;
    flex-flow: row wrap;
    margin-top: 17px;
    gap: 6px 10px;
  }
}
