@import "~@/styles/mixin.scss";
@import "~@/layouts/main/main";
@import '~@/components/field/field';
@import '~@/components/button/button';
@import '~@/components/select/select';
@import '~@/components/star-rating/star-rating';
@import '~@/components/button-like/button-like';
@import '~@/components/pagination/pagination';
@import '~@/components/review/review';
@import '~@/components/range-slider/range-slider';
@import '~@/components/switch-toggle/switch-toggle';
@import '~@/components/input-radio/input-radio';
@import '~@/components/date-picker/date-picker';
@import '~@/components/drop-down/drop-down';
@import '~@/components/check-box-list/check-box-list';
@import '~@/components/bullet-list/bullet-list';
@import '~@/components/icon/icon';

.components-page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 100px 120px;
  padding: 60px 0 0 140px;

  @include media-md {
    padding: 60px 30px;
  }

  @include media-sm {
    gap: 60px;
  }

  @include media-xxs {
    padding: 30px 10px;
  }

  &__block {
    gap: 20px;
    max-width: 320px;
    width: 100%;
    display: flex;
    flex-direction: column;

    &_big {
      max-width: 100%;
    }
  }

  &__element {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-top: 14px;

    @include font-bold($font-size-small, $text-color-main, 15px)
  }

  &__items {
    margin-top: 17px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px 10px;
  }
}
