@import '../footer-subordinate/footer-subordinate';
@import '../footer-head/footer-head';

.footer {
  overflow: hidden;
  border-top: 1px solid $shadow-color;
  padding: 100px 30px 0;
  width: 100%;
  box-shadow: $box-shadow-bold;
  background-color: white;

  @include media-sm {
    padding-top: 120px;
    box-shadow: none;
  }

  &__container {
    margin: 0 auto;
    padding: 0 110px;
    max-width: 1920px;

    @include media-xxx {
      padding: 0;
    }
  }
}
