mixin footer
  footer.footer
    .footer__container
      .footer_top
        .footer_top__info
          .footer_top__logo
            img.footer__logo-img(src="img/logo.png", alt="alt")
          .footer_top__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        .footer_top__nav
          .footer-nav
            .footer-nav__title Навигация
            ul.footer-nav__items
              li.footer-nav__item
                a.footer-nav__item-link(href='#') О нас
              li.footer-nav__item
                a.footer-nav__item-link(href='#') Новости
              li.footer-nav__item
                a.footer-nav__item-link(href='#') Служба поддержки
              li.footer-nav__item
                a.footer-nav__item-link(href='#') Услуги
          .footer-nav
            .footer-nav__title О нас
            ul.footer-nav__items
              li.footer-nav__item
                a.footer-nav__item-link(href='#') О сервисе
              li.footer-nav__item
                a.footer-nav__item-link(href='#') Наша команда
              li.footer-nav__item
                a.footer-nav__item-link(href='#') Вакансии
              li.footer-nav__item
                a.footer-nav__item-link(href='#') Инвесторы
          .footer-nav
            .footer-nav__title Служба поддержки
            ul.footer-nav__items
              li.footer-nav__item
                a.footer-nav__item-link(href='#') Соглашения
              li.footer-nav__item
                a.footer-nav__item-link(href='#') Сообщества
              li.footer-nav__item
                a.footer-nav__item-link(href='#') Связь с нами

        .footer_right__subscribe
          .footer__subscribe-title Подписка
          .footer__subscribe-text Получайте специальные предложения и новости сервиса
          +field({ name: 'email',placeholder :'Email', form:true})

      .footer_bot
        .footer__copyright Copyright © 2018 Toxin отель. Все права зачищены.
        .footer__social
          a.footer__link(href="#")
            img.footer__img(src="img/twitter.svg", alt="")
          a.footer__link(href="#")
            img.footer__img(src="img/facebook.svg", alt="")
          a.footer__link(href="#")
            img.footer__img(src="img/instagramm.svg", alt="")

mixin footerMobile
  footer.fm.footer
    .footer__mobile
      .footer_top__info_logo
        img(src="img/logo.png", alt="alt")
      .footer__copyright Copyright © 2018 Toxin отель. Все права зачищены.
      .footer__social
        a.footer__link(href="#")
          img(src="./image/twitter.svg", alt="")
        a.footer__link(href="#")
          img(src="./image/facebook.svg", alt="")
        a.footer__link(href="#")
          img(src="./image/instagramm.svg", alt="")