//- social  ==  Array<object>
//- social  ==  href -  https://www.google.com/
//- social  ==  src -  image url
//- social  ==  alt -  image alt
//- menu == Array<object>
//- menu == title - caption menu block
//- menu == items Array<object>  {text , href}
//- logo == src logo img
//- {social:[{href="./index.html", src, alt="social link"}] , menu:[{title ,items:[{text,href="#"}]}]}
include ../footer-subordinate/footer-subordinate
include ../footer-head/footer-head
mixin footer({ social , menu , logo = "img/logo-toxin.svg"})
  footer.footer
    .footer__container
      +footerHead({ menu, logo })
      +footerSubordinate({ social })
