//- active -- maximize on rendering typeof Boolean
//- extended -- extended version +2 button typeof Boolean
//- current -- present value typeof String
//- text -- row items name
mixin dropDown({ extended = false, active = false, name, current, text })
  .drop-down
    .drop-down__title= name
    div( class = active ? "drop-down__select_active" : "",
      class = extended ? "js-drop-down__select_extended drop-down__select " +
        "drop-down__select_extended" : "drop-down__select js-drop-down__select")
      .drop-down__item-current.js-drop-down__item-current
        .drop-down__icon expand_more
        span.drop-down__text-current.js-drop-down__text-current= current
      .drop-down__items.js-drop-down__items
        each item in text
          .drop-down__item.js-drop-down__item
            span.drop-down__item-span.js-drop-down__item-span= item
            .drop-down__control-panel.js-drop-down__control-panel
              .drop-down__button.js-drop-down__button.js-btn_minus -
              span.drop-down__span.js-drop-down__span= 0
              .drop-down__button.js-drop-down__button.js-btn_plus +
        if extended
          .drop-down__buttons
            button(type = "button" class = "drop-down__reset-button " +
            "js-drop-down__reset-button") очистить
            button(type = "button" class = "drop-down__submit-button " +
            "js-drop-down__submit-button") применить
