.dropdown {

  &_active {
    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
    transition: border .3s ease-in-out;

    .dropdown__item-current {
      border-radius: 4px 4px 0 0;
    }

    .dropdown__icon {
      padding: 0;
      margin: 0;
      transform: rotateX(180deg);
    }
  }
  &_extended{
    width: 100%;
  }
  &__title {
    margin: 5px 0;
    text-transform: uppercase;

    @include font-bold($font-size-small, $lh: 14px);
  }

  &__select {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1rem;
    position: relative;
    width: 266px;
    background-color: white;
    border-radius: 4px;

    @include media-xxs {
      width: 100%;
    }

    &_extended {
      max-width: 320px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-bottom: 1rem;
      position: relative;
      background-color: white;
      border-radius: 4px;

      @include media-xxs {
        width: 266px;
      }

      &:hover,
      &:focus {

        .dropdown__select_current,
        .dropdown__select_items {
          border-color: $text-color-translucent;
        }
      }

      .dropdown__buttons {
        display: flex;
        justify-content: space-between;
        padding: 0 6px 0 14px;

        .dropdown__button-reset {
          background-color: transparent;
          width: auto;
          height: auto;
          margin: 18px 0 12px;
          padding: 0;
          outline: none;
          border: none;
          text-transform: uppercase;
          cursor: pointer;

          @include font-bold($font-size-small, $purple, 15px);
        }

        .dropdown__button-submit {
          background-color: transparent;
          width: auto;
          height: auto;
          margin: 18px 0 12px;
          padding: 0;
          outline: none;
          border: none;
          text-transform: uppercase;
          cursor: pointer;

          @include font-bold($font-size-small, $purple, 15px);
        }
      }
    }


    &:hover,
    &:focus {

      .dropdown__select_current,
      .dropdown__select_items {
        border-color: $text-color-translucent;
      }
    }


  }

  &__span {
    width: 32px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
  }

  &__text-current {
    display: inline-block;
    padding: 0;
    margin: 0;
    max-width: 95%;
    height: 30px;
    line-height: 30px;
    text-align: start;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__item {
    box-sizing: border-box;
    padding: 0 6px 0 14px;
    margin-top: 7px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 30px;
    text-transform: uppercase;

    @include font-bold($font-size-small, $lh: 30px);

    &-span {
      padding: 0;
      margin: 0;
      width: 80%;
      height: 30px;
      line-height: 26px;
      text-align: start;
      vertical-align: middle;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-current {
      position: relative;
      display: block;
      width: 100%;
      height: 44px;
      background-color: transparent;
      border: 1px solid $transparent_black;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 0 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      transition: border 0.3s ease-in-out;

      @include font-normal($lh: 40px);
    }

    &:last-of-type {
      margin-bottom: 5px;
    }
  }

  &__items {
    border: 1px solid $transparent_black;
    border-top: none;
    box-sizing: border-box;
    border-radius: 0 0 4px 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__control-panel {
    margin-bottom: 2px;
    display: flex;
    justify-content: flex-end;
  }

  &__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30px;
    border: 1px solid $text-color-translucent;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    align-items: center;
    text-align: center;

    @include font-normal(18px, $lh: 22px);

    &_disable {
      opacity: 0.38;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 9px;
    right: 9px;
    cursor: pointer;
    pointer-events: none;
    z-index: 1;
    transition: transform .3s ease-in-out;

    @include font-icon($font-size-big, $text-color-translucent, 24px);
  }
}

