.dropdown {
  &_extended {
    width: 100%;
  }

  &__title {
    margin: 5px 0;
    text-transform: uppercase;

    @include font-bold($font-size-small, $lh: 14px);
  }

  &__select {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 4px;
    width: 266px;
    background-color: white;

    @include media-xxs {
      width: 100%;
    }

    &_extended {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      border-radius: 4px;
      width: 100%;
      max-width: 320px;
      background-color: white;

      .dropdown__buttons {
        display: flex;
        justify-content: space-between;
        padding: 0 6px 0 14px;

        .dropdown__reset-button {
          margin: 18px 0 12px;
          outline: none;
          border: none;
          padding: 0;
          width: auto;
          height: auto;
          text-transform: uppercase;
          background-color: transparent;
          cursor: pointer;

          @include font-bold($font-size-small, $purple, 15px);
        }

        .dropdown__submit-button {
          margin: 18px 0 12px;
          outline: none;
          border: none;
          padding: 0;
          width: auto;
          height: auto;
          text-transform: uppercase;
          background-color: transparent;
          cursor: pointer;

          @include font-bold($font-size-small, $purple, 15px);
        }
      }

      &:hover,
      &:focus {
        .dropdown__item-current,
        .dropdown__items {
          border-color: $text-color-translucent;
        }
      }
    }

    &_active {
      box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
      transition: border 0.3s ease-in-out;

      .dropdown__item-current {
        border-radius: 4px 4px 0 0;
      }

      .dropdown__icon {
        margin: 0;
        padding: 0;
        transform: rotateX(180deg);
      }
    }

    &:hover,
    &:focus {
      .dropdown__item-current,
      .dropdown__items {
        border-color: $text-color-translucent;
      }
    }
  }

  &__span {
    vertical-align: middle;
    width: 32px;
    height: 30px;
    line-height: 30px;
    text-align: center;
  }

  &__text-current {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 30px;
    max-width: 95%;
    line-height: 30px;
    white-space: nowrap;
    text-align: start;
    text-overflow: ellipsis;
    color: $text-color-secondary;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 7px;
    padding: 0 6px 0 14px;
    height: 30px;
    box-sizing: border-box;
    text-transform: uppercase;

    &-span {
      vertical-align: middle;
      overflow: hidden;
      margin: 0;
      padding: 0;
      width: 80%;
      height: 30px;
      line-height: 26px;
      white-space: nowrap;
      text-align: start;
      text-overflow: ellipsis;
    }

    &-current {
      position: relative;
      display: block;
      overflow: hidden;
      border: 1px solid $transparent_black;
      border-radius: 4px;
      padding: 0 14px;
      width: 100%;
      height: 44px;
      box-sizing: border-box;
      white-space: nowrap;
      text-overflow: ellipsis;
      background-color: transparent;
      transition: border 0.3s ease-in-out;
      cursor: pointer;

      @include font-normal($lh: 40px);
    }

    &:last-of-type {
      margin-bottom: 5px;
    }

    @include font-bold($font-size-small, $lh: 30px);
  }

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid $transparent_black;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-sizing: border-box;
  }

  &__control-panel {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2px;
  }

  &__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid $text-color-translucent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    user-select: none;

    &_disabled {
      opacity: 0.38;
      cursor: auto;
    }

    @include font-normal(18px, $lh: 22px);
  }

  &__icon {
    position: absolute;
    right: 9px;
    top: 9px;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    pointer-events: none;

    @include font-icon($font-size-big, $text-color-translucent, 24px);
  }
}
