.dropdown {
  &__title {
    font-family: 'Montserrat', sans-serif;
    margin: 5px 0;
    line-height: 14px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: $text-color-main;
  }

  &__select {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1rem;
    position: relative;
    width: 266px;
    background-color: white;
    border-radius: 4px;

    @include ss {
      width: 100%;
    }

    .material-icons {
      transition: transform .3s ease-in-out;
    }

    &:hover,
    &:focus {

      .dropdown__select_current,
      .dropdown__select_items {
        border-color: $text-colot-translucent;
        // border-top: none;
      }
    }
  }

  &__item_current {
    position: relative;
    display: block;
    width: 100%;
    height: 44px;
    background-color: transparent;
    border: 1px solid $border-color;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 14px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    transition: border 0.3s ease-in-out;


  }

  &__text_current {
    padding: 0;
    margin: 0;
    max-width: 100%;
    height: 30px;
    line-height: 26px;
    text-align: start;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__item {

    box-sizing: border-box;
    padding: 0 6px 0 14px;
    margin-top: 7px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 30px;
    height: 30px;
    text-transform: uppercase;

    &_span {
      padding: 0;
      margin: 0;
      width: 80%;
      height: 30px;
      line-height: 26px;
      text-align: start;
      vertical-align: middle;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:last-of-type {
      margin-bottom: 5px;
    }
  }

  &__items {
    border: 1px solid $border-color;
    border-top: none;
    box-sizing: border-box;
    border-radius: 0 0 4px 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__control-panel {
    margin-bottom: 2px;
    display: flex;
    justify-content: flex-end;


    .disable {
      opacity: 0.5;
    }

    &_span {
      width: 32px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      vertical-align: middle;
    }

  }

  &__button {
    height: 30px;
    border: 1px solid $text-colot-translucent;
    width: 30px;
    border-radius: 50%;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    align-items: center;
    text-align: center;
  }

  .material-icons {
    width: 24px;
    height: 24px;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $text-colot-translucent;
    position: absolute;
    top: 9px;
    right: 9px;
    cursor: pointer;
    pointer-events: none;
    z-index: 1;
  }
}


.dropdown__select_extended {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1rem;
  position: relative;
  background-color: white;
  border-radius: 4px;

  @include sl {
    // width: 266px;
  }

  @include ss {
    width: 100%;
  }

  &:hover,
  &:focus {

    .dropdown__select_current,
    .dropdown__select_items {
      border-color: $text-colot-translucent;
    }

  }

  .dropdown__buttons {

    display: flex;
    justify-content: space-between;
    padding: 0 6px 0 14px;

    .dropdown__button-reset {
      background-color: transparent;
      color: $purple;
      width: auto;
      height: auto;
      margin: 18px 0 12px;
      padding: 0;
      outline: none;
      border: none;
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      cursor: pointer;
    }

    .dropdown__button-submit {
      background-color: transparent;
      color: $purple;
      width: auto;
      height: auto;
      margin: 18px 0 12px;
      padding: 0;
      outline: none;
      border: none;
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}

.dropdown_active {
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
  transition: border .3s ease-in-out;

  .dropdown__item_current {
    border-radius: 4px 4px 0 0;
  }

  .material-icons {
    transition: all .3s ease-in-out;
    padding: 0;
    margin: 0;
    transform: rotateX(180deg);
  }
}