include ../field/field
include ../input-radio/input-radio
include ../switch-toggle/switch-toggle
include ../button/button

mixin cardRegistration
  .card-registration
    .card-registration__title Регистрация аккаунта
    .card-registration__fields
      +field({
        name: "name",
        placeholder: "Имя",
      })
      +field({
        name: "name",
        placeholder: "Фамилия",
      })
      +inputRadio({
        name: "gender",
        label: ["Мужчина", "Женщина"],
        checkedItemIndexDefault: 0
       })
    .card-registration__fields
      +field({
        name: "date",
        title: "Дата рождения",
        placeholder: "ДД.ММ.ГГГГ"
      })
    .card-registration__submit
      .card-registration__fields
        +field({
          name: "email",
          title: "Данный для входа в сервис",
          placeholder: "Email",
        })
        +field({
          name: "name",
          placeholder: "Пароль",
        })
      .card-registration__toggle
        +switchToggle({
          caption: "",
          name: "toogle",
          label: ["Получать спецпредложения"],
        })
    +button({
      style: "long",
      text: "перейти к оплате",
      type: "submit",
    })&attributes({style:{"margin-top": "21px"}})
    .card-registration__bot
      .card-registration__span Уже есть аккаунт на Toxin
      +button({
        style: "outlined",
        text: "Войти",
        href:"./index.html",
      })&attributes({ style: { padding: "10px 25px" } })
