include ../../components/field/field
include ../../components/input-radio/input-radio
include ../../components/switch-toggle/switch-toggle
include ../../components/button/button

mixin cardRegistration
  .card-registration
    .card-registration__title Регистрация аккаунта
    +field({
      name: "name",
      placeholder: "Имя"
    })
    +field({
      name: "name",
      placeholder: "Фамилия"
    })
    +inputRadio({
      name: "gender",
      label: ["Мужчина", "Женщина"]
    })
    +field({
      name: "date",
      title: "Дата рождения",
      placeholder: "ДД.ММ" +
        ".ГГГГ"
    })
    .card-registration__submit
      +field({
        name: "email",
        title: "Данный для входа в сервис",
        placeholder: "Email"
      })
      +field({
        name: "name",
        placeholder: "Пароль"
      })
      +switchToggle({
        caption: "",
        name: "toogle",
        label: ["Получать спецпредложения"]
      })
    +button({
      style: "long",
      text: "перейти к оплате"
    })
    .card-registration__bot
      .card-registration__span Уже есть аккаунт на Toxin
      +button({
        style: "outline",
        text: "Войти"
      })
