@import '~@/styles/mixin';
@import '~@/styles/variables';
@import '../field/field';
@import '../input-radio/input-radio';
@import '../switch-toggle/switch-toggle';
@import '../button/button';


.card-registration {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 40px 30px 30px;
  width: 380px;
  box-shadow: $box-shadow-light;
  color: $text-color-main;
  background-color: white;

  @include media-xxs {
    padding: 30px 15px;
    width: 100%;
    max-width: 355px;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    margin-top: 21px;
    gap: 10px;
  }

  &__toggle {
    margin-top: 9px;
  }

  &__title {
    font-weight: bold;
    font-size: $font-size-big;
    line-height: 30px;
  }

  &__bot {
    z-index: 22;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 28px;
  }
}
