mixin input(el, text , placeholder)
  .input_text
    label.label= text
      input.input(class='input_text_'+el, type="text", placeholder=placeholder name=name)
  // params el = email , name, phone , date

  