  .input_text {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    .input {
      width: 320px;
      height: 44px;
      background: #FFFFFF;
      border: 1px solid $dark-4;
      box-sizing: border-box;
      border-radius: 4px;
      padding-left: 14px;
      font-size: 14px;
      color: $dark-2;

      &::placeholder {
        color: $dark-4;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        height: 18px;
      }

      &:hover,
      &:focus {
        border: 1px solid $dark-3;
        cursor: pointer;
        font-style: normal;
        font-weight: normal;
        line-height: 24px;
        outline: none;
      }
    }
  }


  .select_block {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    position: relative;
    width: 320px;

    .select {
      width: 100%;
      height: 44px;
      background: #FFFFFF;
      border: 1px solid $dark-4;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 0 14px;
      font-size: 14px;
      color: rgba(31, 32, 65, 0.75);
      appearance: none;

      &:hover,
      &:focus {
        border: 1px solid $dark-3;
        cursor: pointer;
        font-style: normal;
        font-weight: normal;
        line-height: 24px;
        outline: none;
      }

      option {
        margin: 0;
        padding: 0;
      }
    }

    i {
      width: 24px;
      height: 24px;
      font-size: 24px;
      line-height: 24px;
      display: flex;
      align-items: center;
      text-align: center;
      color: $dark-3;
      position: absolute;
      right: 10px;
      bottom: 10px;
      cursor: pointer;
      pointer-events: none;
    }
  }





  .check_box {
    width: 222px;
    font-family: 'Montserrat';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: $dark-1;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    .check_item {
      &:first-child {
        margin-top: 17px;
      }

      min-height: 20px;
      vertical-align: middle;
      position: relative;
      display: flex;
      align-items: center;
      margin-top: 10px;
    }

    label {
      position: relative;
      padding-left: 30px;
      color: $dark-3;
      font-family: Montserrat;
      text-transform: none;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      margin: 0;
      transition: color 0.3s ease-in-out ;

      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        border: 1px solid $purple;
        border-radius: 4px;
        width: 20px;
        height: 20px;
        top: 0;
        left: 0;
       
        
      }

    }

    input {
      appearance: none;
      position: absolute;
      &:checked~label::before {
        background: url('~@assets/img/check.png') no-repeat center;
        background-size: 10px 11px;
        background-position: 4px 2px;
      }

      
      &:checked~label {
       color: $dark-2;
      }
    }


  }


  .toogle_box {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
    padding: 0;
    margin-bottom: 1rem;
    
  
    label {
        margin-top: 10px;
      padding-left: 50px;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      text-transform: none;
      line-height: 24px;
      color: $dark-3;
      &::before {
        content: '';
        position: absolute;
        width: 40px;
        height: 20px;
        border-radius: 10px;
        border: 1px solid $dark-4;
        left: 0;
        top: 2px;
        transition: border 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
  
      &::after {
        position: absolute;
        content: '';
        width: 12px;
        height: 12px;
        border-radius: 50%;
        left: 4px;
        top: 6px;
        background: $dark-4;
        transition: all 0.3s ease-in-out;
  
      }
    }
  
    input {
      appearance: none;
      position: absolute;
  
      &:checked+label::before {
        border: 1px solid $purple;
      }
      &:checked+label {
        color: $dark-2;
      }
      &:checked+label::after {
        background: $purple-gradient;
        left: 24px;
      }
  
    }
  }