div.data__select
  input.date_picker
  label(class='data__select_label') date dropdown
    input(type="data" class="data__select_input data__select_input-left" placeholder='ДД.ММ.ГГГГ')
    i.material-icons expand_more
  label(class='data__select_label') date dropdown
    input(type="data" class="data__select_input data__select_input-right" placeholder='ДД.ММ.ГГГГ')  
    i.material-icons expand_more 
div.data__select
  input.date_picker
  label(class='data__select_label') date dropdown
    input(type="text" class="data__select_input data__select_input-left")
    i.material-icons expand_more
  label(class='data__select_label') date dropdown
    input(type="text" class="data__select_input data__select_input-right")  
    i.material-icons expand_more 
//- duv.data__select
//-   label(class='data__select_label') date dropdown
//-     input(type="text" class="data__select_input data__select_input-left")
//-     i.material-icons expand_more
//-   label(class='data__select_label') date dropdown
//-     input(type="text" class="data__select_input data__select_input-right")  
//-     i.material-icons expand_more 