mixin datepicker(title1, title2)
  div.data__select
    input.date_picker
    label(class='data__select_label')= title1
      input(type="data" class="data__select_input data__select_input-left" placeholder='ДД.ММ.ГГГГ')
      i.material-icons expand_more
    label(class='data__select_label')= title2
      input(type="data" class="data__select_input data__select_input-right" placeholder='ДД.ММ.ГГГГ')
      i.material-icons expand_more
mixin filterDate(title1)
  div.data__select
    label( class='data__select_label-s')= title1
      input.date__range( type="data" , placeholder='ДД ММ - ДД ММ')
      i.material-icons expand_more