@import '~@/libs/datepicker/datepicker';

.date-picker {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 64px;
  gap: 20px;

  &__label {
    @include font-bold($font-size-small, $text-color-main, 15px);

    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 150px;
    text-transform: uppercase;
    cursor: pointer;

    &_range {
      max-width: 266px;

      @include media-xxs {
        max-width: 320px;
      }
    }

    &:hover,
    &:focus {
      .date-picker,
      .date-picker_range {
        border: 1px solid $text-color-translucent;
      }

      .date-picker__icons {
        color: $text-color-secondary;
      }
    }

    @include media-xxs {
      width: 100%;
      white-space: nowrap;
    }
  }

  &__input {
    @include font-normal($lh: 18px);

    margin-top: 5px;
    outline: none;
    border: 1px solid $transparent_black;
    border-radius: 4px;
    padding-left: 15px;
    width: 150px;
    height: 44px;
    text-transform: uppercase;
    transition: border 0.3s ease-in-out;
    cursor: pointer;

    &_range {
      width: 266px;
      text-transform: lowercase;
      color: $text-color-secondary;

      @include media-xxs {
        width: 100%;
        max-width: 320px;
      }
    }

    &_hide {
      position: absolute;
      left: 0;
      right: 0;
      top: 55px;
      bottom: 0;
      margin: 0;
      border: 0;
      padding: 0;
      width: 320px;
      height: 0;

      @include media-xxs {
        width: 100%;
      }
    }

    @include media-xxs {
      width: 100%;
      font-size: $font-size-small;
    }
  }

  &__icon {
    @include font-icon($font-size-big, $purple);

    z-index: 1;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    pointer-events: none;
  }

  &__expand-more {
    @include font-icon($font-size-big, $text-color-translucent, 24px);

    position: absolute;
    right: 9px;
    bottom: 9px;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    text-align: center;
    cursor: pointer;
    pointer-events: none;
  }
}
