@import '~@/styles/mixin';
@import '~@/styles/variables';

.input-radio {
  @include font-normal($font-size-small);

  font-weight: 700;
  text-transform: uppercase;

  &__caption {
    @include font-bold($font-size-small);

    margin-top: 14px;
  }

  &__items {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  &__item {
    &-label {
      @include font-normal($color: $text-color-translucent, $lh: 24px);

      position: relative;
      padding-left: 30px;
      text-transform: none;
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        border: 1px solid $transparent_black;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        transition: border 0.3s ease-in-out;
      }

      &::after {
        content: '';
        position: absolute;
        left: 4px;
        top: 4px;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        background: $purple-gradient;
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }
    }

    &-input {
      appearance: none;
      position: absolute;

      &:checked ~ .input-radio__item-label::after {
        opacity: 1;
      }

      &:checked ~ .input-radio__item-label::before {
        border: 1px solid $purple;
      }

      &:checked ~ .input-radio__item-label {
        color: $text-color-secondary;
      }
    }
  }
}
