.input-radio {
  font-weight: 700;
  text-transform: uppercase;

  @include font-normal($font-size-small);

  &__caption {
    margin-top: 14px;

    @include font-bold($font-size-small);
  }

  &__items {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  &__item {

    &-label {
      padding-left: 30px;
      cursor: pointer;
      text-transform: none;
      position: relative;

      @include font-normal($color: $text-color-translucent, $lh: 24px);

      &::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid $transparent_black;
        left: 0;
        top: 0;
        transition: border 0.3s ease-in-out;
      }

      &::after {
        position: absolute;
        content: '';
        width: 12px;
        height: 12px;
        border-radius: 50%;
        left: 4px;
        top: 4px;
        background: $purple-gradient;
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }
    }

    &-input {
      position: absolute;
      appearance: none;

      &:checked ~ .input-radio__item-label::after {
        opacity: 1;
      }

      &:checked ~ .input-radio__item-label::before {
        border: 1px solid $purple;
      }

      &:checked ~ .input-radio__item-label {
        color: $text-color-secondary;
      }
    }
  }
}
