.footer-subordinate {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 26px 0 25px;
  font-size: $font-size-normal;
  color: $text-color-secondary;

  &::before {
    content: '';
    position: absolute;
    left: -2220px;
    right: -2220px;
    top: -1px;
    overflow: hidden;
    margin: 0 auto;
    height: 1px;
    max-width: 100vw;
    background-color: $shadow-color;
  }

  &__social {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 22px;
  }

  &__link {
    align-self: center;
    vertical-align: middle;
  }

  &__img {
    display: block;
    margin: auto;
  }

  @include media-sm {
    flex-direction: column;
    align-items: center;
    margin: 17px auto 120px;
    border: none;
    padding: 0;
    max-width: 768px;
    background-color: white;

    &::before {
      display: none;
    }

    &__copyright {
      margin-top: 0;
      margin-bottom: 22px;
      text-align: center;
    }

    &__social {
      display: flex;
      justify-content: space-between;
      width: 112px;
    }
  }
}
