include ../star-rating/star-rating

mixin cardSlide(url, roomNumber , category, price, review, rating)
  .card__slider
    .img__slider
      .swiper-wrapper
        each key in url
          .swiper-slide
            img(src=key.src, alt=key.alt)
      .swiper-pagination-img
    .bottom__pannel
      .card__header
        .room
          .room_number
            span №
            =roomNumber
        .room_category
          | &nbsp
          =category
      .price
        span=price
        | ₽
        | в сутки
      .card__rate
        +starRating(rating)
        .card__review
          span=review
          | &nbsp
          | Отзывов