.card__slider {
  width: 270px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);

  .img__slider {
    overflow: hidden;
    height: 150px;
    border-radius: 4px 4px 0 0;
    z-index: 10;
    position: relative;

    img {
      border: 4px;
      width: 100%;
      object-fit: contain;
    }

    .swiper-pagination-img {
      position: absolute;
      display: flex;
      justify-content: flex-end;
      z-index: 500;
      padding: 0 10px 4px 0;

      .swiper-pagination-bullet {
        width: 7.5px;
        height: 7.5px;
        margin: 0 2px;
        background-color: transparent;
        opacity: 1;
        border: 1px solid white;
      }

      .swiper-pagination-bullet-active {
        background-color: white;
      }
    }
  }

  .bottom__pannel {
    padding: 20px 15px 20px 20px;

    .card__header {
      border-bottom: 1px solid $dark-6;
      padding-bottom: 10px;
      margin-bottom: 7px;

      .room {


        &_number {
          font-size: 19px;
          line-height: 23px;

          span {
            font-size: 14px;
            margin: 0;
          }
        }

        .price {
          font-size: 14px;
          line-height: 18px;

          span {
            font-size: 12px;
            line-height: 15px;
          }
        }
      }


    }

    .card__rate {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .card__review {
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: $dark-3;

        span {
          font-weight: bold;
          line-height: 18px;
        }
      }
    }
  }
}