@import '~@/libs/css/mixin.scss';

.cards {
  margin: 72px 110px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  min-width: 0;

  .cards__el {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    @include media-xxs {
      align-items: center;
    }
  }

  .calendar {
    @include datepicker
  }

  @include media-xs {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
  }

}
