extends ../../layouts/grey
include ../../components/card-slider/card-slider
include ../../components/card-auth/card-auth
include ../../components/card-registration/card-registration
include ../../components/card-room/card-room
include ../../components/card-find/card-find
block variables
  - const title = 'Cards'

block content
  - const {cardSlider , cardSlider2 , cardRoom} = require('./card.json')
  .cards
    .cards__el
      +cardFind
      +cardRegistration
    .cards__el
      +cardRoom(cardRoom)
      +cardAuth
    .cards__el
      .calendar
      +cardSlide(cardSlider)
      +cardSlide(cardSlider2)
