.cards {
  margin: 72px 110px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  min-width: 0;
  .cards__el{
    display: flex;
  flex-direction: column;
    gap: 30px;
  }
  .calendar {
    .datepicker {
      padding: 20px;
      width: 320px;
      box-sizing: border-box;
      border-radius: 4px;
      border: 1px solid $color-transparent;
      display: flex;
      flex-direction: column;
      box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);

      .datepicker--pointer {
        display: none;
      }

      &--nav {
        padding: 0;
        border: none;
        align-items: flex-start;
      }

      &--nav-action {
        color: $purple;
        width: auto;
        border-radius: 50%;
        transition: transform 0.3s ease-in-out;

      }

      &--nav-action[data-action='prev']:hover {
        transform: translateX(5px);
      }

      &--nav-action[data-action='next']:hover {
        transform: translateX(-5px);
      }

      &--nav-title {
        width: 114px;
        font-weight: bold;
        font-size: 19px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.5px;
        padding: 0;
        background: none;
      }

      &--content {
        margin-top: 7px;
        padding: 0;
      }

      &--buttons {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin-top: 20px;
        border: none;
      }

      &--button {
        display: block;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: $purple;
        letter-spacing: 0.5px;
        background: transparent;
        height: auto;
        flex: 0;
        padding: 0;
        margin: 0;
      }

      &--button-apply {
        display: block;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: $purple;
        letter-spacing: 0.5px;
        background: transparent;
        height: auto;
        flex: 0;
        padding: 0;
        margin: 0;
        cursor: pointer;
      }

      &--day {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &--days-names {
        justify-content: center;
        align-items: center;
        width: 280px;
        margin: 0 auto;

      }

      &--day-name {
        width: 39.88px;
        height: 40px;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        color: $purple;
        text-transform: capitalize
      }

      &--cells {
        justify-content: center;
        align-items: center;
        width: 280px;
        margin: 0 auto;
      }

      &--cell {
        font-style: normal;
        font-weight: normal;
        border-radius: 50%;
        width: 39.88px;
        height: 40px;
        color: $text-color-translucent;

        &-day {
          + .-current- {
            color: white;
            background: $green-gradient;
          }

          &.-disabled-, &.-other-month- {
            color: $color-transparent;
          }

          + .-selected- {
            color: #fff;
            background: $purple-gradient;
          }

          + .-range-from- {
            position: relative;

            &::after {
              content: '';
              position: absolute;
              top: 0px;
              left: 0;
              right: 0;
              bottom: 0;
              background: $purple-gradient;
              opacity: 0.25;
              z-index: -2;
              border-radius: 50% 0 0 50%;
            }
          }

          + .-range-to- {
            position: relative;

            &::after {
              content: '';
              position: absolute;
              top: 0px;
              left: 0;
              right: 0;
              bottom: 0;
              background: $purple-gradient;
              opacity: 0.25;
              z-index: -2;
              border-radius: 0 50% 50% 0;
            }
          }

          + .-in-range- {
            background: none;

            &::after {
              content: '';
              position: absolute;
              top: 0px;
              left: 0;
              right: 0;
              bottom: 0;
              background: $purple-gradient;
              opacity: 0.25;
              z-index: -2;
              border-radius: 0;
            }
          }
        }
      }
    }
  }

  @include sl {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 0;
    flex-direction: column;
  }

}
