.card-slider {
  width: 270px;
  background-color: white;
  border-radius: 4px;
  box-shadow: $box-shadow;

  &__icon{
    @include font-icon()
  }

  &__top {
    overflow: hidden;
    height: 150px;
    border-radius: 4px 4px 0 0;
    z-index: 10;
    position: relative;
  }

  &__bot {
    padding: 22px 15px 10px 20px;
  }


  &__header {
    border-bottom: 1px solid $shadow-color;
    padding-bottom: 10px;
    margin-bottom: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__room {
    display: inline-flex;
    align-items: flex-end;

    @include font-bold($font-size-normal , $lh:29px);

    &-number {
      font-size: $font-size-medium;
      line-height: normal;

      .card-slider__span {
        font-size: $font-size-normal;
        margin-right: 1px;
      }
    }

    &-category {
      color: $purple;
      line-height: 1.46;
    }
  }

  &__price {
    display: flex;
    align-self: flex-end;
    align-items: center;
    text-align: right;
    line-height: 23px;
    font-size: $font-size-small;
    font-weight: normal;
    color: $text-color-translucent;

    .card-slider__span {
      font-size: $font-size-normal;
      line-height: 18px;
      font-weight: bold;
      margin-right: 3px;
    }
  }

  &__review {
    font-weight: normal;
    font-size: $font-size-normal;
    line-height: 18px;
    color: $text-color-translucent;

    .card-slider__span {
      font-weight: bold;
      line-height: 18px;
    }
  }

  &__rate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 9px;
  }
}
