@import "~@/libs/swiper-slider/swiper-slider";
@import "../star-rating/star-rating";

.card-slider {
  width: 270px;
  background-color: white;
  border-radius: 4px;
  box-shadow: $box-shadow;

  @include swiper();

  &__icon {
    @include font-icon()
  }

  &__gallery {
    overflow: hidden;
    height: 150px;
    border-radius: 4px 4px 0 0;
    z-index: 10;
    position: relative;
  }

  &__info {
    padding: 22px 15px 10px 20px;
  }

  &__header {
    border-bottom: 1px solid $shadow-color;
    padding-bottom: 10px;
    margin-bottom: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__span {
    @include font-bold();
  }

  &__room {
    display: inline-flex;
    align-items: flex-end;

    @include font-bold($font-size-normal, $lh: 29px);

    &-number {
      font-size: $font-size-medium;
      line-height: normal;

      .card-slider__span {
        font-size: $font-size-normal;
        margin-right: 4px;
      }
    }

    &-category {
      color: $purple;
      line-height: 1.46;
    }
  }

  &__price {
    display: flex;
    align-self: flex-end;
    align-items: center;
    text-align: right;

    @include font-normal($font-size-small, $text-color-translucent, 23px);

    .card-slider__span {
      margin-right: 3px;
      @include font-bold($font-size-normal, $text-color-translucent, 23px);
    }
  }

  &__review {
    padding-bottom: 5px;
    @include font-normal($font-size-normal, $text-color-translucent, 18px);

    .card-slider__span {

      @include font-bold($font-size-normal, $text-color-translucent, 18px)
    }
  }


  &__rate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 9px;
  }
}
