//- url -- image url Array<object> = {src , alt }

include ../star-rating/star-rating

mixin cardSlide({url, roomNumber , category='', price='0', review='0',rating='0'}={})
  .card-slider
    .card-slider__top.js-card-slider__top
      .swiper-wrapper
        each key in url
          - const {src , alt} = key
          .swiper-slide
            img.swiper-slide__img(src=src, alt=alt)
      .swiper-pagination-img
      .swiper-button-prev
        i.material-icons expand_more
      .swiper-button-next
        i.material-icons expand_more
    .card-slider__bot
      .card-slider__header
        .card-slider__room
          .card-slider__room-number
            span.card-slider__span №
            =roomNumber
          .card-slider__room-category
            | &nbsp
            =category
        .card-slider__price
          span.card-slider__span=price
            | ₽
          | в сутки
      .card-slider__rate
        +starRating( { currentRating: rating } )
        .card-slider__review
          span.card-slider__span=review
          | &nbsp
          | Отзывов
