.card-slider {
  width: 270px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);

  &__bot {
    padding: 20px 15px 20px 20px;
  }

  &__top {
    overflow: hidden;
    height: 150px;
    border-radius: 4px 4px 0 0;
    z-index: 10;
    position: relative;

    .swiper-slide__img {
      border: 4px;
      max-width: 110%;
      max-height: 110%;
      object-fit: cover;
    }

    .swiper-pagination-img {
      position: absolute;
      display: flex;
      justify-content: flex-end;
      z-index: 500;
      padding: 0 10px 4px 0;

      .swiper-pagination-bullet {
        width: 7.5px;
        height: 7.5px;
        margin: 0 2px;
        background-color: transparent;
        opacity: 1;
        border: 1px solid white;
      }

      .swiper-pagination-bullet-active {
        background-color: white;
      }
    }

    .swiper-button {
      &-prev, &-next {
        width: 42px;
        height: 100%;
        margin: 0;
        align-items: center;
        transform: translate(0, -50%);
        color: white;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        .icon {
          transition: opacity .3s ease-in-out;
          opacity: 0;
        }

        &::after {
          display: none;
          content: '';
        }

        &:hover {
          opacity: 1;
          .icon {
           opacity: 1;
          }
        }
      }

      &-prev {
        left: 0;

        .icon {
          transform: rotate(90deg);
        }

        &:hover {
          background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%,
                  rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);;
        }
      }

      &-next {
        right: 0;
        .icon {
          transform: rotate(-90deg);
        }

        &:hover {
          background: linear-gradient(-90deg, rgba(0, 0, 0, 0.5) 0%,
                  rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
        }
      }
    }
  }

  &__header {
    border-bottom: 1px solid $shadow-color;
    padding-bottom: 10px;
    margin-bottom: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__room {
    display: inline-flex;
    align-items: flex-end;
    font-weight: bold;
    font-size: $font-size-normal;
    line-height: 29px;

    &-number {
      font-size: $font-size-medium;
      line-height: normal;

      .card-slider__span {
        font-size: $font-size-normal;
        margin-right: 1px;
      }
    }

    &-category {
      color: $purple;
      line-height: 1.46;
    }
  }

  &__price {
    display: flex;
    align-self: flex-end;
    align-items: center;
    text-align: right;
    line-height: 23px;
    font-size: $font-size-small;
    font-weight: normal;
    color: $text-color-translucent;

    .card-slider__span {
      font-size: $font-size-normal;
      line-height: 18px;
      font-weight: bold;
      margin-right: 3px;
    }
  }

  &__review {
    font-weight: normal;
    font-size: $font-size-normal;
    line-height: 18px;
    color: $text-color-translucent;

    .card-slider__span {
      font-weight: bold;
      line-height: 18px;
    }
  }

  &__rate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
