//- url -- image url Array<object> = {src , alt }
include ../star-rating/star-rating
include ../../libs/swiper-slider/swiper-slider

mixin cardSlide({ url, roomNumber, category = "", price = "0", review = "0", rating = "0" })
  .card-slider
    .card-slider__gallery.js-card-slider__gallery
      +swiperSlider({ url })
    .card-slider__info
      .card-slider__header
        .card-slider__room
          .card-slider__room-number
            span.card-slider__span №
            =roomNumber
          .card-slider__room-category
            | &nbsp;
            =category
        .card-slider__price
          span.card-slider__span.js-card-slider_price=price
            | ₽
          | в сутки
      .card-slider__rate
        +starRating( { currentRating: rating } )
        .card-slider__review
          span.card-slider__span.js-card-slider_review=review
          | &nbsp;
          | Отзывов
