.container {
  margin: 0;
  padding: 0;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__content {
    flex: 1 0 auto;
  }

  .footer {
    flex: 0 0 auto;
  }
}
