block variables
include ../../components/header/header
include ../../components/footer/footer
include ../../components/favicon/favicon
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block favicon
      +favicon
    if title
      title= title
    else
      title= 'TOXIN'
  body.landing-page
    .landing-page__content
      +header(
        {
          logo: { src: "img/logo-toxin.svg" },
          items: [{
            text: "О нас",
          },
            {
              text: "Услуги",
              more: [
                { text: "Дополнительные пункты" },
                { text: "Дополнительные пункты большие" },
                { text: "Дополнительные пункты" }]
            },
            { text: "Вакансии" }, { text: "Новости" },
            {
              text: "Соглашения",
              more: [
                { text: "Дополнительные пункты" },
                { text: "Дополнительные пункты большие" },
                { text: "Дополнительные пункты" }]
            }]
        }
      )
      block content
    +footer({
      social: [
        {
          name: "twitter",
          alt: "twitter_logo",
          href: "https://www.twitter.com/"
        },
        {
          name: "facebook",
          alt: "facebook_logo",
          href: "https://www.facebook.com/"
        },
        {
          name: "instagram",
          alt: "instagram_logo",
          href: "https://www.instagram.com/"
        }
      ],
      menu: [{
        title: "Навигация",
        items: [{ text: "О нас" }, { text: "Новости" },
          { text: "Служба поддержки" }, { text: "Услуги" }]
      }, {
        title: "О нас",
        items: [{ text: "О сервисе" }, { text: "Наша команда" },
          { text: "Вакансии" }, { text: "Инвесторы" }]
      }, {
        title: "Служба поддержки",
        items: [{ text: "Соглашения" }, { text: "Сообщества" },
          { text: "Связь с нами" }]
      },]
    })
